{% extends 'customers/base.html'%}
{% load static %}
{% load i18n %}

{% block content %}
<style>
  .thumbnail{
    display: block;
    padding: 4px;
    margin-bottom: 20px;
  }

  #thumb{
    float: right;
    max-height: 300px;

  }

  #item_img{
    max-height: 250px;
  }

</style>
<!-- logo -->
<div class="jumbotron">
  <div class="row justify-content-center">
    <div class="thumbnail thumb">
      {% if restaurant.photo_path %}<img src="{% static restaurant.photo_path %}" class="img-fluid" id="item_img" alt="Responsive image">{% endif %}
    </div>
  </div>
</div>
<!-- end logo -->

<div class="container-fluid">
  <!-- Menu and About Buttons -->
  <div class="row justify-content-center pt-4 pb-4">
    <div class="col">
      <div class="d-flex justify-content-end">
        <a href="/customers/view_menu/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-circle btn-sm active" role="button" aria-pressed="true">{% trans "Menu" %}</a>
      </div>
    </div>
    <div class="col">
      <a href="#" class="btn btn-dark btn-circle btn-sm" role="button">{% trans "About" %}</a>
    </div>
  </div>
  <!-- End Menu and About buttons -->

  <!-- Restaurant Name and info -->
  <div class="row ml-1">
    <h5>{{ restaurant.name }}</h5>
  </div>
  <div class="row ml-1 mb-4">
    <h6>{{ restaurant.info }}</h6>
  </div>
  <!-- End  -->

  <hr>

  <div class="row ml-2 mt-4">
    {{ restaurant.about }}
  </div>

{% endblock %}
