{% extends 'customers/base.html'%}
{% load i18n %}
{% load crispy_forms_tags %}
{% block content %}

<nav class="navbar navbar-dark bg-dark">
  <h4>clustr.</h4>
</nav>

<div class="container-fluid">

  <!-- Email Receipt Form -->
  <div class="card shadow bg-white rounded mt-5">
    <div class="card-header">
    {% trans "Customer Details" %}
    </div>
    <div class="card-body">

      <form method = 'post' action = '/customers/card_email_receipt/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}'>
        {% csrf_token %}

        <div class="form-group mx-sm-3 mb-2">
          <label for="email_input">{% trans "Email address" %}</label>
          <input type="email" class="form-control" name="email_input" id="email_input" placeholder="name@localtres.com" required>
        </div>

        <div class="form-group mx-sm-3 mb-2 mt-4">
          <label for="phone_number">{% trans "Phone Number" %}</label>
          <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="+525555555555" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">{% trans "Submit" %}</button>

      </form>
      <!-- <div class="row justify-content-center mt-3">
        <a href="/customers/order_confirmation/{{ cart.id }}">{% trans "No thanks" %}</a>
      </div> -->
    </div>
  </div>
</div>
{% endblock %}
