{% extends 'customers/base.html'%}
{% load i18n %}


{% block content %}
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/customers/payment/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
  <svg class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
  </svg>
  </a>
</nav>

<div class="container-fluid">
  <div class="row mt-5 mb-5">

  </div>

  <div class="card shadow p-3 bg-white rounded mb-4">
    <div class="card-body">
      <div class="row pl-2">
        <h6>{% trans "Please show the cashier this code:" %}</h6>
      </div>
      <div class="row justify-content-center mt-4 w-100">
        <div class="card bg-light mb-3" style="max-width: 10rem;">
          <div class="card-body">
            <h5 class="card-text">{{ cart.cash_code }}</h5>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function(){
    var cart_id = {{ cart.id }};
    // Call function every 5 seconds
    window.setInterval(function(){
      $.ajax({
      type: "GET",
      url: "{% url 'confirm_cash_payment' %}",
      data: {
        'cart_id': cart_id,
      },
      dataType: 'json',
      success: function (data) {
        if (data.is_paid === true){
          console.log('Paid with cash!!!')
          location.href="/customers/order_confirmation/" + cart_id;
        }
        else {
          console.log('Has not been paid yet')
        }
      }
      });
    }, 5000);
  });
</script>
{% endblock %}
