{% extends 'customers/base.html'%}
{% load i18n %}
{% load crispy_forms_tags %}
{% load socialaccount %}


{% block content %}

<!-- google css -->
<style>

.google-btn {
  margin-right: 15px;
  /* margin-top: 15px; */
  width: 80%;
  min-width: 145px;
  max-width: 145px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  cursor: hand;
  align-self: center;
  user-select: none;
  transition: all 400ms ease 0s;
  display: flex;
}
.google-btn .google-icon-wrapper {
  position: absolute;
  margin-top: 1px;
  margin-left: 1px;
  width: 40px;
  height: 40px;
  border-radius: 2px;
  user-select: none
}
.google-btn .google-icon-svg {
  position: absolute;
  margin-top: 11px;
  margin-left: 11px;
  width: 18px;
  height: 18px;
  user-select: none
}
.google-btn .btn-text {
  float: right;
  margin: 11px 14px 40px 40px;
  color: #757575;
  font-size: 14px;
  letter-spacing: .2px;
  font-family: Roboto;
  user-select: none;
  text-align: center;
}
.google-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
  user-select: none
}
.google-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  user-select: none
}

.normal-btn {
  margin: 25px;
  width: auto;
  display: inline-block;
  min-width: auto;
  max-width: 184px;
  height: 42px;
  background-color: #fcfcfc;
  border-radius: 2px;
  box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .2);
  cursor: pointer;
  cursor: hand;
  align-self: center;-webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  transition: all 400ms ease 0s
}
.normal-btn .btn-text {
  float: left;
  margin: 11px 14px 11px 14px;
  color: #757575;
  font-size: 14px;
  letter-spacing: .2px;
  font-family: Roboto;
  user-select: none
}
.normal-btn:hover {
  box-shadow: 0 3px 8px rgba(117, 117, 117, .5);
  user-select: none
}
.normal-btn:active {
  box-shadow: 0 1px 1px #757575;
  background: #F8F8F8;
  color: #fff;
  user-select: none
}
</style>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Roboto:400" />

<!-- end google css -->

<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/customers/pick_up_or_delivery/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
  <svg class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
  </svg>
  </a>
</nav>

<div class="container-fluid">

  <!-- icon -->
  <div class="row justify-content-center mt-5">
    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-file-person" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M4 1h8a2 2 0 0 1 2 2v10a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2zm0 1a1 1 0 0 0-1 1v10a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V3a1 1 0 0 0-1-1H4z"/>
      <path d="M13.784 14c-.497-1.27-1.988-3-5.784-3s-5.287 1.73-5.784 3h11.568z"/>
      <path fill-rule="evenodd" d="M8 10a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"/>
    </svg>
  </div>
  <!-- icon ends -->

  <!-- Email Receipt Form -->
  <div class="card shadow bg-white rounded mt-2 ">
    <div class="card-header">
    <h4>{% trans "Customer Details" %}</h4>
    </div>
    <div class="card-body">
      <!-- google sign in experiment -->
      <div class="row mt-2">
        <div class="col">
          <h5>{% trans "Skip this with Google Sign In" %}</h5>
        </div>
      </div>
      {% if user.is_authenticated %}
        <div class="row justify-content-center mt-3 mb-4">
          <a style="text-decoration: none; color: grey;" href="/customer_details/logout/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
            <div class="google-btn">
              <div class="google-icon-wrapper">
                <img class="google-icon-svg" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
              </div>
              <p class="btn-text"><b>{% trans "Logout" %}</b></p>
            </div>
          </a>
        </div>
      {% else %}
        <div class="row justify-content-center mt-3 mb-4">
          <a style="text-decoration: none; color: grey;" href="{% provider_login_url 'google' %}?next=/payment/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
            <div class="google-btn">
              <div class="google-icon-wrapper">
                <img class="google-icon-svg" src="https://upload.wikimedia.org/wikipedia/commons/5/53/Google_%22G%22_Logo.svg"/>
              </div>
              <p class="btn-text"><b>{% trans "Login" %}</b></p>
            </div>
          </a>
        </div>
      {% endif %}

      <hr>
      <!-- end experiment -->

      <div class="row mt-4 mb-2">
        <div class="col">
          <h5>{% trans "Or fill this out" %}</h5>
        </div>
      </div>

      <!-- user form begins -->
      <form method = 'post' action = '/customers/customer_details/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}'>
        {% csrf_token %}

        <div class="form-row">
          <div class="col">
            <input type="text" class="form-control" name="first_name" placeholder="{% trans 'First name' %}" required>
          </div>
          <div class="col">
            <input type="text" class="form-control" name="last_name" placeholder="{% trans 'Last name' %}" required>
          </div>
        </div>

        <div class="form-group mx-sm-3 mb-2 mt-4">
          <label for="email_input">{% trans "Email address" %}</label>
          <input type="email" class="form-control" name="email_input" id="email_input" placeholder="enrique@coolcompany.com" required>
        </div>

        <div class="form-group mx-sm-3 mb-3 mt-4">
          <label for="phone_number">{% trans "Phone Number" %}</label>
          <input type="text" class="form-control" name="phone_number" id="phone_number" placeholder="+525555555555" required>
        </div>

        <button type="submit" class="btn btn-primary btn-block mt-4">{% trans "Submit" %}</button>

      </form>
      <!-- user form ends -->

    </div>
  </div>
</div>
{% endblock %}
