{% extends 'customers/base.html'%}
{% load static %}
{% load i18n %}


{% block content %}
<style>
.thumbnail{
  display: block;
  padding: 4px;
  margin-bottom: 20px;
}

#thumb{
  float: right;
  max-height: 300px;

}

#item_img{
  max-height: 250px;
}

div.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #D3D3D3;
}

</style>

<!-- logo -->
<div class="jumbotron">
  <div class="row justify-content-center">
    <div class="thumbnail thumb">
      <img src="{% static menu.photo_path %}" class="img-fluid" id="item_img" alt="Responsive image">
    </div>
  </div>
  <!-- <div class="container text-center">
    <h1>{{ restaurant.name }}</h1>
    <p>{{ restaurant.info }}</p>
  </div> -->
</div>
<!-- end logo -->

<div class="container-fluid">

  <!-- Greeting ABout Modal -->

  <div class="modal fade" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Bienvenido a Local Tres" %}</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="thumbnail thumb">
            <img src="{% static menu.photo_path %}" class="img-fluid" id="item_img" alt="Responsive image">
          </div>
        </div>

        <p>Queremos agraecerte de ante mano por apoyarnos. Estamos probando este nuevo sistema,
           con tu salud como prioridad. Agradecemos cualquier comentario que tengas al respecto.
        </p>
      </div>
    </div>
  </div>
</div>

  <!-- Menu and About Buttons -->
  <div class="row justify-content-center pt-4 pb-4">
    <div class="col">
      <div class="d-flex justify-content-end">
        <a href="#" class="btn btn-dark btn-circle btn-sm" role="button">{% trans "Menu" %}</a>
      </div>
    </div>
    <div class="col">
      <a href="/customers/about/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-circle btn-sm active" role="button" aria-pressed="true">{% trans "About" %}</a>
    </div>
  </div>
  <!-- End Menu and About buttons -->

  <!-- Restaurant Name and info -->
  <div class="row ml-1 justify-content-center">
    <h5>{{ restaurant.name }}</h5>
  </div>
  <div class="row ml-1 mb-4 justify-content-center">
    <h6>{{ restaurant.info }}</h6>
  </div>

  <!-- End  -->

  <!-- Button Categories Start -->
  <div class="scrollmenu mb-5">
    {% for category in categories %}
        <button class="btn btn-light view_category" id="view_category_{{ forloop.counter }}" value="{{ forloop.counter }}" res="{{ restaurant.id }}" menu="{{ menu.id }}">{{ category.name }}</button>
    {% endfor %}
  </div>
  <!-- Button Categories End -->

  <!-- <hr> -->

  <!-- Menu Items -->
  <ul class="list-unstyled">
    {% if items|length == 0 %}
    <div class="row justify-content-center mt-5">
      <h4>{% trans "No Items on Menu!" %}</h4>
    </div>
    {% else %}
      {% for item in items %}
      <div class="">
        <a href="/customers/view_item/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}/{{ item.id }}" style="text-decoration:none; color:#000000">
        <div class="media">
          <div class="media-body">
            <h5 class="mt-0 mb-2">{{ item.name }}</h5>
            <p>{{ item.description }}<br>
            ${{ item.price}}</p> <br>
          </div>
          <img src="{% static item.photo_path %}" border=3 height=80 width=80 class="rounded float-right" alt="...">
        </div>
        </a>
        <hr>
      </div>

      <!-- <hr> -->
      {% endfor %}
    {% endif %}
  </ul>
  <!-- Menu Items Ends -->

  <!-- View Cart Button -->
  <div class="fixed-bottom">
    {% if cart.total_with_tip %}
    <div class="row justify-content-center mb-3">
        <a href="/customers/view_cart/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-circle btn-xl" role="button">{% trans "View Cart $" %}{{ cart.total_with_tip }}</a>
    </div>
    {% elif cart.total %}
    <div class="row justify-content-center mb-3">
        <a href="/customers/view_cart/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-circle btn-xl" role="button">{% trans "View Cart $" %}{{ cart.total }}</a>
    </div>
    {% else %}
    <div class="row justify-content-center mb-3">
        <a href="/customers/view_cart/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-circle btn-xl" role="button">{% trans "View Cart" %}</a>
    </div>
    {% endif %}
  </div>
  <!-- Cart Button ends -->
  <footer class="page-footer pt-4">
      <div class="row justify-content-center mb-5">
        <!-- <div class="col-12"> -->
          <!-- <a href="/customers/payment/{{ cart.id }}" class="btn btn-dark btn-lg active w-75 shadow" role="button" aria-pressed="true">Place Order $</a> -->
        <!-- </div> -->
      </div>
  </footer>
</div>

<script>
  $(document).ready(function () {
    if (sessionStorage.getItem('#myModal') !== 'true'){
      $('#myModal').modal('show');

      sessionStorage.setItem('#myModal', 'true');
    }

    $(document).on("click", ".view_category", function(){
      var index = String(this.value);
      var category_name = document.getElementById('view_category_' + index).textContent;
      // var restaurant = document.getElementById('view_category_' + index).getAttribute('res');
      var menu = document.getElementById('view_category_' + index).getAttribute('menu');

      $.ajax({
      type: "GET",
      url: "{% url 'category_items' %}",
      data: {
        'category': category_name,
        // 'restaurant': restaurant,
        'menu': menu,
      },
      dataType: 'json',
      success: function (data) {
        //receive Items from category and display
        //How to use JS objects as I do Python objects that get passed in through render
        var response = JSON.parse(data)

      }
      });
    });
  });


</script>

{% endblock %}
