{% extends 'customers/base.html'%}
{% load static %}
{% load i18n %}


{% block content %}
<style>
.thumbnail{
  display: block;
  padding: 4px;
  margin-bottom: 20px;
}

#thumb{
  float: right;
  max-height: 300px;

}

#item_img{
  max-height: 250px;
}

.card-img-top {
    width: 100%;
    height: 40vw;
    object-fit: cover;
}

div.scrollmenu {
  /* background-color: #333; */
  overflow: auto;
  white-space: nowrap;
}

div.scrollmenu a {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 14px;
  text-decoration: none;
}

div.scrollmenu a:hover {
  background-color: #D3D3D3;
}

</style>

<!-- navbar -->
<nav class="navbar sticky-top navbar-dark bg-dark">
  <a class="navbar-brand" href="/customers/menus/{{ cart.id }}/{{ restaurant.id }}">
  <svg class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
  </svg>
  </a>
  {% if cart.total %}
  <a href="/customers/view_cart/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart3" fill="yellow" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
    </svg>
  </a>
  {% else %}
  <a href="/customers/view_cart/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
    <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cart3" fill="white" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
    </svg>
  </a>
  {% endif %}
</nav>
<!-- end navbar -->

<!-- logo -->
{% if restaurant.photo_path %}
<div class="jumbotron bg-light">
  <div class="thumbnail thumb">
    <img src="{% static restaurant.photo_path %}" class="img-fluid" id="item_img" alt="Responsive image">
  </div>
</div>
{% endif %}
<!-- end logo -->

<div class="container-fluid bg-light">

  <!-- Greeting About Modal -->

  <!-- <div class="modal fade bg-light" tabindex="-1" role="dialog" id="myModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">{% trans "Welcome to " %} {{ restaurant.name }}!</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="row justify-content-center">
          <div class="thumbnail thumb">
            {% if restaurant.photo_path %}
            <img src="{% static restaurant.photo_path %}" class="img-fluid" id="item_img" alt="Responsive image">
            {% endif %}
          </div>
        </div>
        {% if restaurant.handle_payment and restaurant.stripe_account_id %}
          <p>
            {% trans "Browse our menu, order and pay right from your phone!" %}
          </p>
        {% else %}

        {% endif %}
      </div>
    </div>
  </div>
</div> -->

  <!-- Restaurant Name and info -->
  <div class="row ml-1 mb-2 justify-content-center bg-light">
    <h2>{{ restaurant.name }}</h2>
  </div>
  {% if restaurant.info %}
    <div class="row ml-1 mb-4 justify-content-center bg-light">
      <h4>{{ restaurant.info }}</h4>
    </div>
  {% endif %}
  <!-- End  -->

  <!-- Button Categories Start -->
  {% if category_items|length > 1 and category_items|length < 5 %}
    <hr>
    <div class="row justify-content-center">
      <div class="scrollmenu m-2">
        <div class="btn-group" role="group" aria-label="Basic example">
        {% for category in categories %}
          <button class="btn btn-dark cat_button" name="category_button_{{category.id}}">{{ category.name }}</button>
        {% endfor %}
        </div>
      </div>
    </div>
    <hr>
  {% else %}
  <hr>
    <div class="scrollmenu m-2">
      <div class="btn-group" role="group" aria-label="Basic example">
      {% for category in categories %}
        <button class="btn btn-dark cat_button" name="category_button_{{category.id}}">{{ category.name }}</button>
      {% endfor %}
      </div>
    </div>
  </div>
  <hr>
  {% endif %}
  <!-- Button Categories End -->

  <!-- Catalogue Name -->
  <div class="row mt-4">
    <div class="col ml-3">
      <h3>{{menu.name}}</h3>
    </div>
  </div>
  <!-- End catalogue name -->


  <!-- Menu Items -->

    {% if category_items|length == 0 %}
      <div class="row justify-content-center mt-5">
        <h4>{% trans "No Items on Menu!" %}</h4>
      </div>
    {% else %}
      <!-- Product Cards Begin -->
      {% for key, value in category_items.items %}
        <div class="MenuItems" id="display_category_category_button_{{key.id}}" >
          <div class="row ml-1 mt-5">
            <div class="col cat_title_{{key.id}}">
              <h3>{{key.name}}</h3>
            </div>
          </div>
          <div class="row justify-content-center">
            {% for v in value %}
              <a href="/customers/view_item/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}/{{ v.id }}" style="text-decoration:none; color:#000000">
                <!-- Product Card -->
                  <div class="card shadow bg-white rounded text-center mt-2 m-1" style="width:10rem;">
                    {% if v.photo_path %}
                      <img src="{% static v.photo_path %}" class="card-img-top" alt="...">
                    {% else %}
                    <img src="https://cluster-media.s3-us-west-2.amazonaws.com/no-photo.png" class="card-img-top" alt="...">
                    {% endif %}
                    <div class="card-body">
                      <h5 class="card-title">{{ v.name }}</h5>
                      <div class="mt-3">
                        <b>${{ v.price}}</b>
                      </div>
                    </div>
                  </div>
                <!-- End Product Card -->
              </a>
            {% endfor %}
          </div>
        </div>
      {% endfor %}
      <!-- Product Cards end -->
    {% endif %}

  <!-- Menu Items Ends -->

  <footer class="page-footer pt-4">
      <div class="row justify-content-center mb-5">
      </div>
  </footer>
</div>

<script>

  $(document).ready(function () {
    var category_name = $("").attr("name");
    $('#display_category_' + category_name).show()

    // if (sessionStorage.getItem('#myModal') !== 'true') {
    //   $('#myModal').modal('show');
    //   sessionStorage.setItem('#myModal', 'true');
    // }

    //scroll to div experiment
    //know which button was clicked
    $(".cat_button").click(function() {
      var category_name = $(this).attr("name");
      console.log('category name:' + category_name)
      $('html, body').animate({
          scrollTop: $('#display_category_' + category_name).offset().top
      }, 1300);
    });

  });


</script>

{% endblock %}
