{% extends 'customers/base.html'%}
{% load i18n %}

{% block content %}
<style>
  .StripeElement {
    /* box-sizing: border-box; */

    height: 40px;

    padding: 10px 12px;

    border: 1px solid transparent;
    border-radius: 4px;
    background-color: white;

    box-shadow: 0 1px 3px 0 #e6ebf1;
    -webkit-transition: box-shadow 150ms ease;
    transition: box-shadow 150ms ease;
  }

  .StripeElement--focus {
    box-shadow: 0 1px 3px 0 #cfd7df;
  }

  .StripeElement--invalid {
    border-color: #fa755a;
  }

  .StripeElement--webkit-autofill {
    background-color: #fefde5 !important;
  }

  .button {
    /* default for <button>, but useful for <a> */
    display: inline-block;
    text-align: center;
    text-decoration: none;
    width:100%;
    /* create a small space when buttons wrap on 2 lines */
    /* margin: 2px 0; */

    /* invisible border (will be colored on hover/focus) */
    border: solid 1px transparent;
    border-radius: 4px;

    /* size comes from text & padding (no width/height) */
    padding: 0.5em 1em;

    /* make sure colors have enough contrast! */
    color: #ffffff;
    background-color: #5870cf;
  }

</style>
<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" href="/customers/view_cart/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
  <svg class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
  </svg>
  </a>
</nav>

<div class="container-fluid">
  <div class="row justify-content-center mt-4 mb-3">

      <svg class="bi bi-receipt-cutoff" width="2em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
        <path fill-rule="evenodd" d="M1.92.506a.5.5 0 0 1 .434.14L3 1.293l.646-.647a.5.5 0 0 1 .708 0L5 1.293l.646-.647a.5.5 0 0 1 .708 0L7 1.293l.646-.647a.5.5 0 0 1 .708 0L9 1.293l.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .708 0l.646.647.646-.647a.5.5 0 0 1 .801.13l.5 1A.5.5 0 0 1 15 2v13h-1V2.118l-.137-.274-.51.51a.5.5 0 0 1-.707 0L12 1.707l-.646.647a.5.5 0 0 1-.708 0L10 1.707l-.646.647a.5.5 0 0 1-.708 0L8 1.707l-.646.647a.5.5 0 0 1-.708 0L6 1.707l-.646.647a.5.5 0 0 1-.708 0L4 1.707l-.646.647a.5.5 0 0 1-.708 0l-.509-.51L2 2.118V15H1V2a.5.5 0 0 1 .053-.224l.5-1a.5.5 0 0 1 .367-.27zM0 15.5a.5.5 0 0 1 .5-.5h15a.5.5 0 0 1 0 1H.5a.5.5 0 0 1-.5-.5z"/>
        <path fill-rule="evenodd" d="M3 4.5a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 1 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h6a.5.5 0 0 1 0 1h-6a.5.5 0 0 1-.5-.5zm8-8a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5zm0 2a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 0 1h-1a.5.5 0 0 1-.5-.5z"/>
      </svg>

      <h5>{% trans "Payment" %}</h5>

  </div>

<!-- Credit Card Card -->
{% if restaurant.handle_payment %}
  <div class="card shadow bg-white rounded mb-4">
    <h6 class="card-header">
      <div class="row justify-content-center">
        <div class="col-2">
          <div class="col mt-1">
            <svg class="bi bi-credit-card" width="2em" height="1.5em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 3H2a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1zM2 2a2 2 0 0 0-2 2v8a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2H2z"/>
              <rect width="3" height="3" x="2" y="9" rx="1"/>
              <path d="M1 5h14v2H1z"/>
            </svg>
          </div>
        </div>
        <div class="col-10">
          <div class="mt-1">
           <h5>{% trans "Credit or Debit Card" %}</h5>
          </div>
        </div>
      </div>
    </h6>
    <div class="card-body">
      <!-- existing card -->
      {% if card_stored %}
      <div class="row pb-1">
        <div class="col-10">
          <h6>{% trans "Previous Card" %}</h6>
        </div>
      </div>

      <form action="/customers/payment/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" method="post" id="payment-form-previous" class="w-100">
        {% csrf_token %}
          <button class="button" id="previous_card_submit" name="previous_card_submit" cart="{{ cart.id }}" rest="{{ restaurant.id }}" menu="{{ menu.id }}">
            {% trans "Pay with card ending in " %} '{{last4}}'
          </button>
      </form>

      <hr>
      {% endif %}
      <!-- end existing card -->

      <!-- new card -->
      <div class="row pb-1">
        <div class="col-10">
          <h6>{% trans "New Card" %}</h6>
        </div>
      </div>
      <form action="/customers/payment/{{ cart.id }}" method="post" id="payment-form" class="w-100">
        {% csrf_token %}
          <div id="card-element" class="form-control">
               <!-- A Stripe Element will be inserted here. -->
          </div>

          <!-- Used to display form errors. -->
          <div class="mt-1" id="card-errors" role="alert">

          </div>

          <button class="button mt-2 mb-3" id="submit" data-secret="{{ client_secret }}" cart="{{ cart.id }}" rest="{{ restaurant.id }}" menu="{{ menu.id }}">
            {% trans "Submit Payment" %}
          </button>
      </form>
      <!-- end new card -->

    </div>
  </div>
  <!-- Credit Card Card ends -->
  {% endif %}

  <!-- Cash Card -->
  <div class="card shadow bg-white rounded mb-4">
    <h6 class="card-header">
      <div class="row justify-content-center">
        <div class="col-2">
          <div class=" col mt-1">
            <svg width="2em" height="1.5em" viewBox="0 0 16 16" class="bi bi-cash" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M15 4H1v8h14V4zM1 3a1 1 0 0 0-1 1v8a1 1 0 0 0 1 1h14a1 1 0 0 0 1-1V4a1 1 0 0 0-1-1H1z"/>
              <path d="M13 4a2 2 0 0 0 2 2V4h-2zM3 4a2 2 0 0 1-2 2V4h2zm10 8a2 2 0 0 1 2-2v2h-2zM3 12a2 2 0 0 0-2-2v2h2zm7-4a2 2 0 1 1-4 0 2 2 0 0 1 4 0z"/>
            </svg>
          </div>
        </div>
        <div class="col-10">
          <div class="mt-1">
            <h5>{% trans "Cash" %}</h5>
          </div>
        </div>
      </div>
    </h6>
    <div class="card-body">
      <button class="button mt-3 mb-3" id="submit_cash" cart="{{ cart.id }}" rest="{{ restaurant.id }}" menu="{{ menu.id }}">
        {% trans "Pay Cash" %}
      </button>
    </div>
  </div>
  <!-- Cash Card Ends -->


<span id="publishable_key" key-value="{{ publishable }}"></span>
<span id="connected_account_id" connected-id="{{ restaurant.stripe_account_id }}"></span>

</div>

<!-- Stripe Javascript begins -->
<script>

 var publishable = document.getElementById('publishable_key').getAttribute('key-value');
 var connected_account = document.getElementById('connected_account_id').getAttribute('connected-id');
 // console.log('publishable: ' + publishable)
 // console.log('connected-id: ' + connected_account)

 if (publishable) {
   var stripe = Stripe(publishable, {
     stripeAccount: connected_account
    });

   var elements = stripe.elements();

    var style = {
      base: {
        color: '#32325d',
        fontFamily: '"Helvetica Neue", Helvetica, sans-serif',
        fontSmoothing: 'antialiased',
        fontSize: '16px',
        '::placeholder': {
          color: '#aab7c4'
        }
      },
      invalid: {
        color: '#fa755a',
        iconColor: '#fa755a'
      }
    };

    var card = elements.create("card", { style: style });
    card.mount("#card-element");

    card.on('change', function(event) {
     var displayError = document.getElementById('card-errors');
     if (event.error) {
       displayError.textContent = event.error.message;
     } else {
       displayError.textContent = '';
     }
    });

    var form = document.getElementById('payment-form');
    var clientSecret = document.getElementById('submit').getAttribute('data-secret')
    var cart_id = document.getElementById('submit').getAttribute('cart');
    // var cart_id = document.getElementById('submit_cash').getAttribute('cart');
    // var rest_id = document.getElementById('submit_cash').getAttribute('rest');
    // var menu_id = document.getElementById('submit_cash').getAttribute('menu');

    var rest_id = document.getElementById('submit').getAttribute('rest');
    var menu_id = document.getElementById('submit').getAttribute('menu');
    // var cash_payment = document.getElementById('submit_cash');

    form.addEventListener('submit', function(ev) {
      ev.preventDefault();

      stripe.confirmCardPayment(clientSecret, {
        payment_method: {
          card: card,
          billing_details: {
            name: 'Jenny Rosen'
          }
        },
        setup_future_usage: 'off_session'
      }).then(function(result) {
       if (result.error) {
         console.log(result.error.message);
         //display error
         $( "#card-errors" ).append( "<p style='color:red;'>" + result.error.message + "</p>" );
       } else {
          // The payment has been processed!
         if (result.paymentIntent.status === 'succeeded') {
            // Show a success message to your customer
            // There's a risk of the customer closing the window before callback
            // execution. Set up a webhook or plugin to listen for the
            // payment_intent.succeeded event that handles any business critical
            // post-payment actions.
            // ***send paymentIntent id to views here*** Probs with AJAX
            // console.log('payment success');
           // console.log(cart_id)
           location.href="/customers/order_confirmation/" + cart_id;

         }
       }
     });
   });
}
var cart_id = document.getElementById('submit_cash').getAttribute('cart');
var rest_id = document.getElementById('submit_cash').getAttribute('rest');
var menu_id = document.getElementById('submit_cash').getAttribute('menu');

$( "#submit_cash" ).click(function() {

    $.ajax({
    type: "GET",
    url: "{% url 'cash_payment' %}",
    data: {
      'cart_id': cart_id,
    },
    dataType: 'json',
    success: function (data) {
      location.href="/customers/order_confirmation/" + cart_id;
    }
  });
  });
// });

</script>
<!-- Stripe JavaScript ends -->
{% endblock %}
