<!DOCTYPE html>
<html>
<body>
  <style>
    .Row {
        display: table;
        width: 100%; /*Optional*/
        table-layout: fixed; /*Optional*/
        border-spacing: 10px; /*Optional*/
    }
    .Column {
        display: table-cell;
        background-color: red; /*Optional*/
    }

  </style>

<h1>Detalles de Orden</h1>
<div class="Row">
  <div class="Column">
    <h4>Cantidad</h4>
  </div>
  <div class="Column">
    <h4>Platillo</h4>
  </div>
  <div class="Column">
    <h4>Precio</h4>
  </div>
</div>

<div class="Row">
  <div class="Column">
    <h5>1</h5>
  </div>
  <div class="Column">
    <h4>Hamburguesa</h4>
  </div>
  <div class="Column">
    <h4>$120</h4>
  </div>
</div>

</body>
</html>
