{% extends 'customers/base.html'%}
{% load i18n %}
{% load static %}

{% block content %}

<style>
  .minus_item, .plus_item {
    background-color: transparent; /* Blue background */
    border: none; /* Remove borders */
    color: black; /* White text */
    padding: 3px 5px; /* Some padding */
    font-size: 20px; /* Set a font size */
    cursor: pointer; /* Mouse pointer on hover */
  }

  #item_quantity{
    font-size: 20px;
  }

  #custom_btn{
    color:white;
  }

  a:active {
    background-color: yellow;
  }

  a {
    color: #000000;
  }


</style>
  <nav class="navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="/customers/view_menu/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
    <svg class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
      <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
    </svg>
    </a>
  </nav>
<!-- Title -->
  <div class="row justify-content-center mt-5">
    <!-- <h5>Cart </h5> -->
    <svg width="3em" height="3em" viewBox="0 0 16 16" class="bi bi-cart3" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 1.5A.5.5 0 0 1 .5 1H2a.5.5 0 0 1 .485.379L2.89 3H14.5a.5.5 0 0 1 .49.598l-1 5a.5.5 0 0 1-.465.401l-9.397.472L4.415 11H13a.5.5 0 0 1 0 1H4a.5.5 0 0 1-.491-.408L2.01 3.607 1.61 2H.5a.5.5 0 0 1-.5-.5zM3.102 4l.84 4.479 9.144-.459L13.89 4H3.102zM5 12a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm7 0a2 2 0 1 0 0 4 2 2 0 0 0 0-4zm-7 1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm7 0a1 1 0 1 0 0 2 1 1 0 0 0 0-2z"/>
    </svg>
  </div>
  <!-- End title -->

<!-- Card Begins -->
  <div class="container-fluid">
    <div class="card shadow p-3 bg-white rounded mt-2">
      <div class="card-body">
        <div class="row pl-3">
          <h4 class="cart-title">{% trans "Your Order" %}</h4>
        </div>
        <hr>
        {% if items|length == 0 %}
        <div class="row justify-content-center mt-4">
          <h4>{% trans "Your Cart is Empty!" %}</h4>
        </div>
        <div class="row justify-content-center mt-2">
          <a href="/customers/view_menu/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-lg active w-75 shadow" role="button" aria-pressed="true" id="back_to_menu">{% trans "Browse Items" %}</a>
        </div>
        {% else %}
        {% for item in items %}
          <div class="col-2" hidden>
            <span id="item_id_{{ forloop.counter }}"">{{ item.id }}</span>
          </div>
          <!-- experiment begins -->
          <div id="item_row_{{ forloop.counter }}">
          <!-- <a href="/customers/view_item/{{cart.id}}/{{restaurant.id}}/{{menu.id}}/{{item.id}}"> -->
              <div class="media mt-4 mb-3">
                {% if item.item.photo_path %}
                  <img src="{% static item.item.photo_path %}" height=60 width=60 class="rounded mr-3" alt="...">
                {% else %}
                <img src="https://cluster-media.s3-us-west-2.amazonaws.com/no-photo.png" height=60 width=60 class="rounded mr-3" alt="...">
                {% endif %}
                <div class="media-body">
                  <!-- aqui va todo el contenido -->
                  <div class="row">
                    <div class="col-6">
                      <h6 id="item_name_{{ forloop.counter }}">{{ item.item.name }}</h6>
                    </div>
                    <div class="col-6">
                      <span class="item_price_{{ forloop.counter }}"><h6>${{ item.price }}</h6></span>
                    </div>
                  </div>
                  <!-- addon items -->
                  {% if item.addon_items %}
                  {% for addon in item.addon_items.all %}
                  <div class="row mb-1">
                    <div class="col-8">
                      + {{ addon.name }}
                    </div>
                    <div class="col-4">
                      ${{ addon.price }}
                    </div>
                  </div>
                  {% endfor %}
                  {% endif %}
                  <!-- addon items end -->

                  {% if item.custom_instructions %}
                  <div class="row mb-1">
                    <div class="col-1">

                    </div>
                    <div class="col-11">
                      <p>{{ item.custom_instructions }}</p>
                    </div>
                  </div>
                  {% endif %}

                  <!-- Edit Item Code goes here  -->
                  <div class="row mt-2">
                    <div class="col-10">
                      <button class="minus_item" title="Add" value="{{ forloop.counter }}"><i class="far fa-minus-square fa-lg" style = "margin-left: 0cm;"></i></button>
                        <span class="item_quantity_{{ forloop.counter }}" id="item_quantity"><b>{{ item.quantity }}</b></span>
                      <button class="plus_item" title="Add" value="{{ forloop.counter }}"><i class="far fa-plus-square fa-lg"></i></button>
                    </div>
                  </div>
                  <!-- Edit stuff ends here -->
                  <!-- termina contenido -->
                </div>
              </div>
            <!-- </a> -->
            <hr>
          </div>
        <!-- experiment ends -->
        {% endfor %}
        {% endif %}

        {% if items|length == 0 %}

        {% else %}
        <div class="total-cart" id="total-cart">

          <div class="row mt-5">
            <div class="col-6">
              <h4>{% trans "Total" %}</h4>
            </div>

            <div class="col-6 d-flex flex-row-reverse">
              <span class="cart_total"><h4>${{ cart.total }}</h4></span>
            </div>
          </div>
          <div class="row mt-5">
            <a href="/customers/pick_up_or_delivery/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-lg active btn-block shadow" role="button" aria-pressed="true" id="place_order_button">{% trans "Place Order" %}</a>
            <a href="/customers/view_menu/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" style="display: none;" class="btn btn-dark btn-lg active w-75 shadow" role="button" aria-pressed="true" id="back_to_menu">{% trans "Browse Items" %}</a>

          </div>
        </div>
        <!-- Tip Section Ends -->
        {% endif %}
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer pt-4">
        <div class="row justify-content-center mb-3">

        </div>
    </footer>
  <!-- Footer -->
  </div>
<!-- Card Ends -->
<link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>

<script>

  $(document).ready(function(){
    var cart_id = {{ cart.id }};

    // Increase Quantity on cart
    $(document).on("click", ".plus_item", function(){
      var index = String(this.value);
      var item = document.getElementById("item_name_" + index).textContent;

        $.ajax({
        type: "GET",
        url: "{% url 'increase_quantity' %}",
        data: {
          'cart_id': cart_id,
          'menu_item': item,
        },
        dataType: 'json',
        success: function (data) {
          $(".item_quantity_" + index).html('<b>' + data.quantity + '</b>')
          $(".item_price_" + index).html('<h6>$' + data.price + '</h6>');
          $(".cart_total").html('$' + data.cart_total);
        }
      });
    });

    //Decrease Quantity on cart
    $(document).on("click", ".minus_item", function(){
      var index = String(this.value);
      var item = document.getElementById("item_name_" + index).textContent;
        $.ajax({
        type: "GET",
        url: "{% url 'decrease_quantity' %}",
        data: {
          'cart_id': cart_id,
          'menu_item': item,
        },
        dataType: 'json',
        success: function (data) {
          if (data.cart_total == 0) {
            $('#place_order_button').hide();
            $('.total-cart').hide();
            $('#back_to_menu').show();
          }
          //If data.quantity == 0, call remove_item view and remove div that contains item
          if (data.quantity == 0) {
            var item_id = document.getElementById("item_id_" + index).textContent;
            $.post("/customers/remove_item/{{ cart.id }}/{{ restaurant.id}}/{{ menu.id }}/" + item_id, {'csrfmiddlewaretoken': '{{ csrf_token }}'});
            $( "#item_row_" + index ).remove();
            $(".cart_total").html('$' + data.cart_total);
          }

          else {
            $(".item_quantity_" + index).html('<b>' + data.quantity + '</b>')
            $(".item_price_" + index).html('<h6>$' + data.price + '</h6>');
            $(".cart_total").html('$' + data.cart_total);
          }

        }
      });
    });

    //Dealing with Dine in or To go
    // var form = $("#dine_in_form")
    var dine_in = $("#restaurant_dine_in").val()
      if (dine_in === "True"){

        $( "#place_order_button" ).click(function() {
          var checked = $("input[name='dine_in_radio']:checked").val();
          $.ajax({
          type: "POST",
          url: "{% url 'dine_in_option' %}",
          data: {
            'checked': checked,
            'cart_id': {{ cart.id }},
            csrfmiddlewaretoken: '{{ csrf_token }}',
          },
          dataType: 'json',
          success: function (data) {
            //If data.quantity == 0, call remove_item view and remove div that contains item

          }
        });

        });
      }
  });

</script>
{% endblock %}
