{% extends 'customers/base.html'%}
{% load crispy_forms_tags %}
{% load static %}
{% load i18n %}


{% block content %}
<style>
  .thumbnail{
    display: block;
    padding: 4px;
    margin-bottom: 20px;
  }

  #thumb{
    float: right;
    max-height: 300px;

  }

  #item_img{
    max-height: 250px;
  }

</style>
<nav class="navbar navbar-light bg-light">
  <a class="navbar-brand" href="/customers/view_menu/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
  <svg class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
    <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
    <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
  </svg>
  </a>
</nav>
<div class="container-fluid">
  <!-- Item image -->
  <div class="row justify-content-center">
    <div class="thumbnail thumb">
      {% if item.photo_path %}
      <img src="{% static item.photo_path %}" class="img-fluid" id="item_img" alt="Responsive image">
      {% endif %}
    </div>
  </div>
  <!-- End item image -->

  <!-- Item Name and info -->
  <div class="row ml-1 pt-4">
    <h5>{{ item.name }}</h5>
  </div>
  <div class="row ml-1">
    <h6>{{ item.description }}</h6>
  </div>
  <div class="row ml-1">
    <h6>${{ item.price }}</h6>
  </div>
  <!-- End  -->

  <hr>
<!-- Custom Order Form -->
<div class="row justify-content-center mt-4 mb-3">
  <form method="post" action="/customers/add_item/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}/{{ item.id }}" >
    {% csrf_token %}

    <div class="row justify-content-center mb-2">
      <textarea class="form-control" name="custom_instructions" placeholder=" {% trans 'Custom Instructions...' %} " rows="3"></textarea>
    </div>

    <div class="row justify-content-center">
      <input class="form-control" type="number" name="quantity" min="1" value="1" placeholder="Quantity">
    </div>

      <div class="row justify-content-center mb-4 mt-4">
        <button type="submit" class="btn btn-dark btn-circle btn-xl">{% trans "Add to Cart" %}</button>
      </div>
  </form>
</div>
<!-- Form Ends -->

<!-- View Cart Button -->
<div class="fixed-bottom">
  <div class="row justify-content-center mb-3">
    {% if cart.total_with_tip %}
    <a href="/customers/view_cart/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-circle btn-xl" role="button">{% trans "View Cart $" %}{{ cart.total_with_tip }}</a>
    {% elif cart.total %}
    <a href="/customers/view_cart/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-circle btn-xl" role="button">{% trans "View Cart $" %}{{ cart.total }}</a>
    {% else %}
    <a href="/customers/view_cart/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-circle btn-xl" role="button">{% trans "View Cart" %}</a>
    {% endif %}
  </div>
</div>
<!-- Cart Button ends -->
<footer class="page-footer pt-4">
    <div class="row justify-content-center mb-3">

     </div>
</footer>


</div>


{% endblock %}
