{% extends 'customers/base.html'%}

{% block content %}
  <nav class="navbar navbar-light bg-light">
    <a class="navbar-brand" href="/customers/view_menu/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}">
    <svg class="bi bi-arrow-left-short" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M7.854 4.646a.5.5 0 0 1 0 .708L5.207 8l2.647 2.646a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 0 1 .708 0z"/>
      <path fill-rule="evenodd" d="M4.5 8a.5.5 0 0 1 .5-.5h6.5a.5.5 0 0 1 0 1H5a.5.5 0 0 1-.5-.5z"/>
    </svg>
    </a>
  </nav>
<!-- Title -->
  <div class="row justify-content-center pt-4 pb-4">
    <!-- <h5>Cart </h5> -->
    <svg class="bi bi-cart2" width="2em" height="2em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
      <path fill-rule="evenodd" d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l1.25 5h8.22l1.25-5H3.14zM5 13a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z"/>
    </svg>
  </div>
  <!-- End title -->

<!-- Card Begins -->
  <div class="container-fluid">
    <div class="card shadow p-3 bg-white rounded">
      <div class="card-body">
        <div class="row pl-3">
          <h5 class="cart-title">Your Order</h5>
        </div>
        <hr>
        {% if items|length == 0 %}
        <div class="row justify-content-center mt-5">
          <h4>Your Cart is Empty!</h4>
        </div>
        {% else %}
        {% for item in items %}
        <div class="row mt-3">
          <div class="col-2">
            {{ item.quantity }}
          </div>
          <div class="col-6">
            <h6>{{ item.item.name }}</h6>
          </div>
          <div class="col-4">
            <h6>${{ item.price }}</h6>
          </div>
        </div>
        {% if item.custom_instructions %}
        <div class="row mb-2">
          <div class="col-2 d-flex flex-row-reverse">
            <p>.</p>
          </div>
          <div class="col-10">
            <p>{{ item.custom_instructions }}</p>
          </div>
        </div>
        {% endif %}
        <hr>
        {% endfor %}
        {% endif %}

        {% if items|length == 0 %}

        {% else %}
        <!-- Tip Section Begins -->
        <div class="row pl-3 pt-3">
          <h5>Tip</h5>
        </div>

        <div class="row pt-2 justify-content-center">
          <div class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-secondary" aria-pressed="true" href="/customers/calculate_tip/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}/10" role="button">10%</a>
            <a class="btn btn-secondary" aria-pressed="true" href="/customers/calculate_tip/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}/15" role="button">15%</a>
            <a class="btn btn-secondary" aria-pressed="true" href="/customers/calculate_tip/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}/20" role="button">20%</a>
            <!-- <a class="btn btn-secondary" aria-pressed="true" href="/customers/calculate_tip/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}/20" role="button">Custom</a> -->
            <a class="btn btn-secondary" onclick = 'Custom_Tip_Form()' style = 'cursor: pointer;'>Custom</a>
          </div>
        </div>

        <div class = 'row justify-content-center mt-4'>
          <div id = 'Custom_Tip_Form' style = 'display:none; width:20rem;' >
              <form method = 'post' action = '/customers/calculate_tip/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}/20'>
                {% csrf_token %}

                <div class = 'row justify-content-center'>
                  <!-- <div class = 'col'> -->
                  <label for="custom_tip">Custom Tip $</label>
                  <input class="form-control" type="number" step="0.01" value="1.00" id="tip" name="tip" min="1" placeholder="Custom Tip...">
                  <!-- </div> -->
                </div>

                <!-- Buttons -->
                <div class="row justify-content-center mt-3 mb-3">
                    <div class="btn-group">
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </div>
                </div>

              </form>
            </div>
        </div>



        <div class="row pt-3">
          <div class="col-6">
            <h6>Subtotal</h6>
          </div>
          <div class="col-6 d-flex flex-row-reverse">
            ${{ cart.total }}
          </div>
        </div>

        <div class="row pt-1">
          <div class="col-6">
            <h6>Tip</h6>
          </div>
          {% if cart.tip %}
          <div class="col-6 d-flex flex-row-reverse">
            ${{ cart.tip }}
          </div>
          {% else %}
          <div class="col-6 d-flex flex-row-reverse">
            $0.00
          </div>
          {% endif %}
        </div>
        <div class="row pt-1">
          <div class="col-6">
            <h5>Total</h5>
          </div>
          {% if cart.total_with_tip %}
          <div class="col-6 d-flex flex-row-reverse">
            ${{ cart.total_with_tip }}
          </div>
          {% else %}
          <div class="col-6 d-flex flex-row-reverse">
            ${{ cart.total }}
          </div>
          {% endif %}
        </div>
        <!-- Tip Section Ends -->
        {% endif %}
      </div>
    </div>

    <!-- Footer -->
    <footer class="page-footer pt-4">
        <div class="row justify-content-center mb-3">
          <!-- <div class="col-12"> -->
          {% if items|length == 0 %}
          {% else%}
            <a href="/customers/payment/{{ cart.id }}/{{ restaurant.id }}/{{ menu.id }}" class="btn btn-dark btn-lg active w-75 shadow" role="button" aria-pressed="true">Place Order</a>
          {% endif %}
          <!-- </div> -->
        </div>
    </footer>
  <!-- Footer -->
  </div>
<!-- Card Ends -->

<script>
  function Custom_Tip_Form(){
    if(document.getElementById('Custom_Tip_Form').style.display == 'block') document.getElementById('Custom_Tip_Form').style.display = 'none'
    else document.getElementById('Custom_Tip_Form').style.display = 'block'
  }
</script>
{% endblock %}
