{% extends 'restaurant/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}

<!-- slider styling -->
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

<div class="container">
  {% if me.stripe_account_id %}
    <!-- If stripe account id exists but they want to disable payments -->
    <!-- form to be able to change handle payment -->
    <div class="justify-content-center">
      <div class = 'row justify-content-center mt-4'>
        <div class="card shadow p-3 bg-white rounded mb-4" style="width: 30rem;">
          <div class = 'card-body'>

            <div class="card-title">
              <h4>{% trans 'Handling Payments' %}</h4>
            </div>
            {% if me.handle_payment %}
              <p class="card-text">{% trans 'You are currently accepting payments.' %}</p>
            {% else %}
              <p class="card-text">{% trans 'Payments are disabled on your catalogues.' %}</p>
            {% endif %}

            <div class = 'row justify-content-center mt-5'>
              <div class = 'col'>
                <form action = '/restaurant_admin/toggle_payments' method = 'post'>
                  {% csrf_token %}

                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="off" name="answer" value="off" class="custom-control-input">
                    <label class="custom-control-label" for="off">{% trans 'Off' %}</label>
                  </div>

                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="on" name="answer" value="on" class="custom-control-input">
                    <label class="custom-control-label" for="on">{% trans 'On' %}</label>
                  </div>

                  <button type = 'submit' class="btn btn-primary btn-block mt-4">{% trans 'Submit' %}</button>

                </form>

                <hr>
                <p class="card-text">{% trans "If you disable payments, your customers will only be able to see your catalogue." %}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  {% else %}
    <!-- If stripe_account_id is Null display this -->
    <div class="justify-content-center">
      <div class = 'row justify-content-center mt-4'>
        <div class="card shadow p-3 bg-white rounded mb-4" style="width: 30rem;">
          <div class = 'card-body'>

            <div class="card-title">
              <h4>{% trans 'Would You Like to Accept Payments?' %}</h4>
            </div>

            <div class = 'row justify-content-center mt-5'>
              <div class = 'col'>
                <form action = '/restaurant_admin/answer_question' method = 'post'>
                  {% csrf_token %}

                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="no" name="answer" value="no" class="custom-control-input">
                    <label class="custom-control-label" for="no">{% trans 'No' %}</label>
                  </div>

                  <div class="custom-control custom-radio custom-control-inline">
                    <input type="radio" id="yes" name="answer" value="yes" class="custom-control-input">
                    <label class="custom-control-label" for="yes">{% trans 'Yes' %}</label>
                  </div>

                  <button type = 'submit' class="btn btn-primary btn-block mt-4">{% trans 'Submit' %}</button>

                </form>

                <hr>

                <p class="card-text">{% trans "We charge a fixed fee and a percentage of the transaction each time you accept a credit or debit card payment (3.6% + 3 MXN). The price is the same for all cards. There’s no additional fee for international cards or failed charges. We pay out on a rolling daily basis to the account you indicate." %}</p>
                <a href="https://stripe.com/es-mx/pricing" class="card-link">{% trans "More Information" %}</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class = 'row justify-content-center mt-4'>
    <div class="card shadow p-3 bg-white rounded mb-4" style="width: 30rem;">
      <div class="card-body">
        <div class = 'row'>
          <div class = 'col'>
            <h4>{% trans 'Tell Us About Your Business' %}</h4>
          </div>
        </div>

        <div class = 'row justify-content-center mt-3'>
          <div class = 'col'>
            <form id = 'questions_form' action = '/restaurant_admin/answer_about' method = 'post' enctype = 'multipart/form-data'>
              {% csrf_token %}

              <div class="form-group">
                <b><label for="tagline">{% trans 'Your Business Tagline' %}</label></b>
                <input type = 'text' class="form-control" id = 'tagline' name = 'tagline' placeholder = "{{me.info}}">
                <small id="taglineHelp" class="form-text text-muted">{% trans "This will be displayed under your business name to your customer." %}</small>
              </div>

              <!-- <div class="form-group">
                <b><label for="about">{% trans 'About Your Restaurant' %}</label></b>
                <textarea class="form-control" rows="3" id = 'about' name = 'about' placeholder = "{{me.about}}"></textarea>
                <small id="aboutHelp" class="form-text text-muted">{% trans "This will be displayed in your About section" %}</small>
              </div> -->

              <div class = 'row mt-3'>
                <div class="col">
                  <b><label for = 'dine-in1'>{% trans 'Do You Currently Offer Dine In?' %}</label></b>
                </div>
              </div>

              <div class="form-check">
                <input class="form-check-input" type = 'radio' name = 'dine-in' id = 'dine-in1' value = 'no' {% if not me.dine_in %}checked{% endif %}>
                <label for = 'dine-in1'>{% trans 'No' %}</label>
              </div>

              <div class="form-check">
                <input class="form-check-input" type = 'radio' name = 'dine-in' id = 'dine-in2' value = 'yes' {% if me.dine_in %}checked{% endif %}>
                <label for = 'dine-in2'>{% trans 'Yes' %}</label>
              </div>

              <div class = 'row mt-3'>
                <div class="col">
                  <b><label for = 'inputGroupFile04'>{% trans 'Logo' %}</label></b>
                </div>
              </div>

                <div class="input-group">
                  <div class="custom-file">
                    <input type="file" name = 'logo' accept = 'image/*' class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                    <label class="custom-file-label" for="inputGroupFile04">{%trans 'Choose file' %}</label>
                  </div>
                </div>

                <button name="preferences_submit" id = 'question_form_button' class="btn btn-primary btn-block mt-4">{% trans 'Submit' %}</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class = 'row justify-content-center mt-4'>
    <div class="card shadow p-3 bg-white rounded mb-4" style="width: 30rem;">
      <div class="card-body">
        <div class = 'row'>
          <div class = 'col'>
            <h4>{% trans 'Orders Email' %}</h4>
          </div>
        </div>

        <div class = 'row justify-content-center mt-3'>
          <div class = 'col'>
            <form id = 'questions_form' action = '/restaurant_admin/answer_about' method = 'post' enctype = 'multipart/form-data'>
              {% csrf_token %}

              <div class="form-group">
                <b><label for="tagline">{% trans 'Email' %}</label></b>
                <!-- <input type = 'text' class="form-control" id = 'tagline' name = 'tagline' placeholder = "{{me.info}}"> -->
                {{form.order_stream_email}}
                <small id="taglineHelp" class="form-text text-muted">{% trans "All confirmed orders will be emailed to this email. You can toggle this feature using the slider below" %}</small>
              </div>
              <div class="form-group row">
                <label class="col-lg-3 col-form-label form-control-label">{% trans "Activate" %}?</label>
                <div class="col-lg-9">
                  <label class="switch">
                    {% if order_stream %}
                    <input name = "order_stream" type="checkbox" checked>
                    {% endif %}
                    {% if order_stream == False %}
                    <input name = "order_stream" type="checkbox">
                    {% endif %}
                    <span class="slider round"></span>
                 </label>
                </div>
            </div>
                <button name="email_submit" id = 'question_form_button' class="btn btn-primary btn-block mt-4">{% trans 'Submit' %}</button>

            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}
