{% load i18n %}
{% load crispy_forms_tags %}

<div class="container">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <div class = 'card'>
    <div class = 'card-body'>
      <form method = 'post' action = '/restaurant_admin/add_menu' enctype="multipart/form-data">
        {% csrf_token %}

        <div class = 'row justify-content-center'>
          <div class = 'col-8'>
            {{form.name|as_crispy_field}}
          </div>
        </div>

        <div class = 'row justify-content-center'>
          <div class = 'col-8'>
            <label for = 'photo'>{% trans 'Cover Photo(Optional)' %}</label>
            <input type = 'file' accept="image/*" id = 'photo' name = "photo">
          </div>
        </div>

        <!-- Buttons -->
        <div class="row justify-content-center mb-5">
          <div class="btn-group">
              <button type="submit" class="btn btn-secondary">{% trans "Create" %}</button>
          </div>
        </div>

      </form>
    </div>
  </div>
</div>
