{% extends 'restaurant/base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
<body>
  <div class = 'container'>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <div class = 'card mt-5 mb-5'>
      <div class = 'card-header'>
        {% if menu %}
          <h3>{% trans 'Are you sure you want to delete ' %}'{{menu.name}}'?</h3>
          <!-- <a href = "/restaurant_admin/edit_menu/{{menu.id}}"><h5>{% trans 'Cancel' %}</h5></a> -->
        {% else %}
          <h3>{% trans 'Are you sure you want to remove ' %}{{items.name}} {% trans 'from this catalogue?' %} </h3>
          <!-- <a href = "/restaurant_admin/edit_menu/{{url_id.id}}">{% trans 'Cancel' %}</a> -->
        {% endif %}
      </div>
      <div class = 'card-body'>

        <!-- if menu isnt null, then this is about deleting a menu -->
        {% if menu %}
          <!-- <h3>{% trans 'Are You Sure You Want to Delete ' %}{{menu.name}}?</h3>

          <a href = "/restaurant_admin/my_menus"><h5>{% trans 'Cancel' %}</h5></a> -->
          <table class = 'table'>
            <thead>
              <tr>
                <th scope = 'col'>{% trans 'All these items will be deleted as well:' %}</th>
              </tr>
            </thead>
            <tbody>
              {% if items|length == 0 %}
                <tr>
                  <td scope = 'col'><h5>{% trans 'No Items' %}</h5></td>
                </tr>
              {% else %}
                {% for item in items %}
                  <tr>
                    <td scope = 'col'>{{ item.name }}</td>
                  </tr>
                {% endfor %}
              {% endif %}
            </tbody>
          </table>

        <!-- if menu is null then this is about deleting an item (its called items but its only one thing)-->
          <!-- <h3>{% trans 'Are You Sure You Want to Delete ' %}{{items.name}}?</h3>
            <form action = "" method = 'post'>
              {% csrf_token %}
              <button type = submit class = 'button-url'>{% trans 'Yes, Delete This Item' %}</button>
            </form>
          <a href = "/restaurant_admin/edit_menu/{{ items.menu.id }}">{% trans 'Cancel' %}</a> -->

        {% endif %}

      </div>
      <div class = 'card-footer'>
        <div class="row">
          <div class="col-2">
            {% if menu %}
              <a href = "/restaurant_admin/edit_menu/{{menu.id}}"><h5>{% trans 'Cancel' %}</h5></a>
            {% else %}
              <a href = "/restaurant_admin/edit_menu/{{url_id.id}}">{% trans 'Cancel' %}</a>
            {% endif %}
          </div>
          <div class="col-10">
            <form action = "" method = 'post'>
              {% csrf_token %}
              {% if menu %}
              <button type = submit class = 'btn btn-primary'>{% trans 'Yes, Delete This Menu' %}</button>
              {% else %}
              <button type = submit class = 'btn btn-primary'>{% trans 'Yes, Remove This Item' %}</button>
              {% endif %}
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>
{% endblock %}
