{% load i18n %}
{% load static %}
<div class = 'container'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <a href = '/restaurant_admin/my_menus'>{% trans "Back to My Menus" %}</a>

  <div class = 'card mb-2'>
    <div class = 'card-body'>

      <div class = 'card bg-light'>
        <div class = 'card-body'>
          <div class ='row justify-content-center'>
              <h3>{{menu.name}}</h3>
          </div>
          <div class = 'row justify-content-center mt-2'>
              {% if menu.photo_path is not none %}
              <img src = "{% static menu.photo_path %}" border=3 height=400 width=800>
              {% else %}
              <h5>{% trans 'No Photo' %}</h5>
              {% endif %}
          </div>

          <div class = 'card mt-2'>
            <div class = 'card-body'>
              <div class = 'row justify-content-center mt-2'>
                <h5>{% trans "Edit Menu Cover" %}</h5>
              </div>
              <div class = 'row justify-content-center mt-1'>
                <form action = '' method = 'post' enctype="multipart/form-data">
                  {% csrf_token %}
                  <div class = 'row justify-content-center'>
                    <div class = 'col-4 mr-5'>
                      <label for = 'name'><b>{% trans 'New Name' %}</b></label>
                    </div>
                    <div class = 'col-4'>
                      <label for = 'photo'><b>{% trans 'New Photo' %}</b></label>
                    </div>
                  </div>
                  <div class = 'row justify-content-center'>
                    <div class = 'col-4 mr-5'>
                      <input type = 'text' id = 'name' name = 'name' value = '{{menu.name}}'>
                    </div>
                    <div class = 'col-4'>
                      <input type = 'file' accept="image/*" id = 'photo' name = "photo">
                    </div>
                  </div>
                  <div class = 'row justify-content-center mt-4'>
                    <button type = 'submit' class = 'button-link'>{% trans 'Update' %}</button>
                  </div>
                </form>
              </div>
            </div>
          </div>

        </div>
      </div>

      <div class = 'row justify-content-center mt-2'>
          <h3>{% trans 'Items' %}</h3>
      </div>

      <div class = 'row justify-content-center'>
        {% if items|length == 0 %}
          <div class = 'row justify-content-center'>
            <h5>{% trans 'No Items Yet!' %}</h5>
          </div>
        {% else %}
          {% for item in items %}
          <div class = 'card mr-2 mt-2'>
            <div class = 'card-body'>

              <div class = 'row justify-content-center mb-2'>
                  <b style = 'color:black;'>{{ item.name }}</b>
              </div>

              <div class = 'row justify-content-center'>
                  {% if item.photo_path is not none %}
                    <img src = "{% static item.photo_path %}" border=3 height=300 width=300>
                  {% else %}
                    <h5>{% trans 'No Photo' %}</h5>
                  {% endif %}
              </div>

              <div class = 'row justify-content-center mt-2'>
                <div class = 'col-4 mr-1'>
                  <a type = 'button' class = 'btn btn-secondary' href = '/restaurant_admin/view_item/{{item.menu.id}}/{{item.id}}'>{% trans 'View' %}</a>
                </div>

                <div class = 'col-4'>
                  <a type = 'button' class = 'btn btn-secondary' href = '/restaurant_admin/edit_item/{{item.menu.id}}/{{item.id}}'>{% trans 'Edit' %}</a>
                </div>
              </div>

            </div>
          </div>
          {% endfor %}

        {% endif %}
      </div>
      <div class = 'row justify-content-center mt-2'>
        <a href = "/restaurant_admin/add_item/{{menu.id}}">{% trans 'Add New Item Here!' %}</a>
      </div>

      <div class = 'row justify-content-center mt-4'>
        <a style = 'color:red;' href = "/restaurant_admin/remove_menu/{{menu.id}}">{% trans 'Delete This Menu' %}</a>
      </div>

    </div>
  </div>

</div>
