{% load i18n %}
{% load static %}
<div class = 'container'>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <a href = '/restaurant_admin/my_menus'>{% trans "Back to My Menus" %}</a>
  <div class = 'card'>
    <div class = 'card-body'>
      <form action = '' method = 'post' enctype="multipart/form-data">
        {% csrf_token %}
        <label for = 'name'>{% trans 'Name' %}</label>
        <input type = 'text' id = 'name' name = 'name' value = '{{menu.name}}'>
        <label for = 'photo'>{% trans 'New Photo' %}</label>
        <input type = 'file' accept="image/*" id = 'photo' name = "photo">
        <button type = 'submit' class = 'button-link'>{% trans 'Update' %}</button>
      </form>
      <table class = 'table'>
        <thead>
          <tr>
            <th scope = 'col'>{% trans 'Item' %}</th>
          </tr>
        </thead>
        <tbody>
          {% if items|length == 0 %}
            <tr>
              <td scope = 'col'><h5>{% trans 'No Items Yet!' %}</h5></td>
            </tr>
          {% else %}
            {% for item in items %}
              <tr>
                <td scope = 'col'>{{ item.name }}</td>
                <td scope = 'col'><a href = '/restaurant_admin/{{item.menu.id}}/{{item.id}}/edit_item'>{% trans 'Edit Item' %}</a>
                <td scope = 'col'><a style = "color:red;" href = '/restaurant_admin/{{item.menu.id}}/{{item.id}}/remove_item'>{% trans 'Delete' %}</a></td>
                {% if item.photo_path is not None %}
                  <td scope = 'col'><img src = "{% static 'R{{item.menu.restaurant.user.id}}/photos/menu{{item.menu.id}}/item{{item.id}}' %}" border=3 height=80 width=80></td>
                {% endif %}
              </tr>
            {% endfor %}
          {% endif %}
          <tr>
            <td><a href = "add_item">{% trans 'Add New Item Here!' %}</a></td>
          </tr>
        </tbody>
    </div>
  </div>
</div>
