{% extends 'restaurant/base.html' %}
{% load i18n %}
{% load static %}
{% include 'customers/base.html' %}
{% block content %}
{% load crispy_forms_tags %}
<!-- slider styling -->
<style>
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
</style>
<!-- logo -->

<body style = 'overflow-y:scroll;'>
  <div class="jumbotron">
    <div class="container text-center">

      <h1>
        {{ menu.name }}
        <!-- pencil button -->
        <a style = 'cursor: pointer;' onclick = "asd(1)">
          <svg class="bi bi-pencil" width="0.75em" height="0.75em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
            <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
          </svg>
        </a>
      </h1>
      <!-- hidden form that pops up if you click the pencil-->
      <div class = 'row justify-content-center mt-3'>
        <div style = 'display: none; width: 15rem;' id = 'menu_form' class = 'card'>
          <div class = 'card-header'>
            <div class = 'row justify-content-begin'>
              <a id = 'xOut' onclick = 'closeMenuForm()' style = 'cursor: pointer; color: red'>
                <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                  <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
                  <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
                  <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
                </svg>
              </a>
            </div>
          </div>
          <div class = 'card-body'>

            <form action = '' method = 'POST' enctype = 'multipart/form-data'>
              {% csrf_token %}
              <div class = 'col mt-3'>
                <label for = 'name'>{% trans 'New Name' %}</label>
                <input type = 'text' name = 'name' id = 'name'>
              </div>
              <div class = 'col mt-3'>
                <label for = 'photo'>{% trans 'New Photo' %}</label>
                <input type = 'file' id = 'photo' name = 'photo'>
              </div>
              <div class = 'col mt-3 mb-3'>
                <button type = 'submit' class = 'btn-primary'>{% trans 'Update' %}</button>
              </div>
            </form>

          </div>
        </div>
      </div>
      <div class = 'row justify-content-center'>
        <a class = 'btn btn-primary' href = "{{ url }}">{% trans 'View QR Code' %}</a>
      </div>
      <p>{{ restaurant.info }}</p>
      <!-- <img src="..." class="img-fluid" alt="Responsive image"> -->
    </div>
  </div>
  <!-- end logo -->
  <div class = "row justify-content-center">
    <h2>
      {% trans 'Items' %}
      <a style = 'cursor: pointer;' onclick = 'newItemForm()'>
        <svg class="bi bi-plus-circle-fill" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
          <path fill-rule="evenodd" d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM8.5 4a.5.5 0 0 0-1 0v3.5H4a.5.5 0 0 0 0 1h3.5V12a.5.5 0 0 0 1 0V8.5H12a.5.5 0 0 0 0-1H8.5V4z"/>
        </svg>
      </a>
    </h2>
  </div>

  <!--hidden form to add new item -->
  <div class = 'row justify-content-center'>
    <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 20rem; display:none;" id = 'new_item_form'>

      <div class = 'card-header'>
        <div class = 'row justify-content-begin'>
          <a id = 'xOut' onclick = 'closeItemForm()' style = 'cursor: pointer; color: red'>
            <svg class="bi bi-x-square" width="1em" height="1em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M14 1H2a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h12a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1zM2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2H2z"/>
              <path fill-rule="evenodd" d="M11.854 4.146a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708-.708l7-7a.5.5 0 0 1 .708 0z"/>
              <path fill-rule="evenodd" d="M4.146 4.146a.5.5 0 0 0 0 .708l7 7a.5.5 0 0 0 .708-.708l-7-7a.5.5 0 0 0-.708 0z"/>
            </svg>
          </a>
        </div>
        <div class ='row justify-content-center'>
          <h3 class="card-title">{% trans "Create New Item" %}</h3>
        </div>
      </div>

      <div class="card-body">
        <form action= "/restaurant_admin/add_item/{{menu.id}}" method="post" enctype="multipart/form-data">
          {% csrf_token %}

          <div class="row justify-content-center mt-2 mb-2">
            <div class = 'col'>
              {{ item_form.name|as_crispy_field }}
            </div>
          </div>

          <div class="row justify-content-center mt-2 mb-2">
            <div class = 'col'>
              {{ item_form.description|as_crispy_field }}
            </div>
          </div>

          <div class="row justify-content-center mt-2 mb-2">
            <div class = 'col'>
              <label for = 'course'>{% trans 'Category' %}</label>
              <input id = 'course' name = 'course' list = 'options' size = '24'>
              <datalist id = 'options'>
                {% for option in selct_options %}
                  <option value = {{option.name}}>
                {% endfor %}
              </datalist>
            </div>
          </div>

          <div class="row justify-content-center mt-2 mb-2">
            <div class = 'col'>
              {{ item_form.price|as_crispy_field }}
            </div>
          </div>

          <div class="row justify-content-center mt-3 mb-2">
            <div class = 'col'>
              <label for = 'photo'>{% trans 'Item Photo' %}</label>
              <input type = 'file' accept="image/*" id = 'photo' name = "photo" required>
            </div>
          </div>

          <!-- Buttons -->
          <div class="row justify-content-center mt-3 mb-2">
            <div class = 'col'>
              <div class="btn-group">
                  <button type="submit" class="btn btn-primary">{% trans "Create" %}</button>
              </div>
            </div>
          </div>

        </form>

      </div>
    </div>
  </div>
  <!-- end hidden item form -->

  <div class="container-fluid">
    <!-- Restaurant Name and info -->
    <div class="row ml-1">
      <h5>{{ restaurant.name }}</h5>
    </div>
    <div class="row ml-1">
      <h6>{{ restaurant.info }}</h6>
    </div>
    <!-- End  -->

    <!-- <hr> -->

    <!-- Menu Items -->
    <ul class="list-unstyled">
      {% if items|length == 0 %}
      <div class="row justify-content-center mt-5">
        <h4>No Items on Menu!</h4>
      </div>
      {% else %}
        {% for item in items %}
        <div class="">
          <div class="media">
            <div class="media-body">
              <h6 class="mt-0 mb-1">{{ item.name }}</h6>
              {{ item.description }}<br>
              ${{ item.price}} <br>
              <!--jst to add spacing-->
              <a style = 'cursor: pointer;' onclick = "showItemForm({{item.id}})">
                <svg class="bi bi-pencil" width="1.25em" height="1.25em" viewBox="0 0 16 16" fill="currentColor" xmlns="http://www.w3.org/2000/svg" data-toggle="modal" data-target="#edit_modal{{item.id}}">
                  <path fill-rule="evenodd" d="M11.293 1.293a1 1 0 0 1 1.414 0l2 2a1 1 0 0 1 0 1.414l-9 9a1 1 0 0 1-.39.242l-3 1a1 1 0 0 1-1.266-1.265l1-3a1 1 0 0 1 .242-.391l9-9zM12 2l2 2-9 9-3 1 1-3 9-9z"/>
                  <path fill-rule="evenodd" d="M12.146 6.354l-2.5-2.5.708-.708 2.5 2.5-.707.708zM3 10v.5a.5.5 0 0 0 .5.5H4v.5a.5.5 0 0 0 .5.5H5v.5a.5.5 0 0 0 .5.5H6v-1.5a.5.5 0 0 0-.5-.5H5v-.5a.5.5 0 0 0-.5-.5H3z"/>
                </svg>
              </a>
              <br>
              <!-- modal that pops up when item is to be edited-->
              <div class="modal fade bd-example-modal-lg" id="edit_modal{{item.id}}" tabindex="-1" role="dialog">
                <div class="modal-dialog modal-lg" role="document">
                  <div class="modal-content">
                    <div class="modal-body">
                      <!--hidden form to edit new item -->
                      <div class = 'row justify-content-center'>
                        <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 40rem;" id = 'new_item_form'>

                            <div class ='row justify-content-center'>
                              <h3 class="card-title">{% trans "Edit Item" %}</h3>
                            </div>
                            <div class = 'card-body'>
                              <div class="card-body d-flex justify-content-center">
                                <form action = '/restaurant_admin/edit_item/{{item.id}}/edit_menu/{{menu.id}}' method = 'post' enctype = 'multipart/form-data'>
                                  {% csrf_token %}
                                  <div class = 'row'>
                                    <div class="col-6">
                                      <label for='name'>{% trans 'Name' %}</label>
                                    </div>
                                    <div class="col-6">
                                      <label for='description'>{% trans 'Description' %}</label>
                                    </div>
                                  </div>
                                  <div class = 'row'>
                                    <div class="col-6">
                                      <input type = 'text' id = 'name' name = 'name' value = "{{item.name}}">
                                    </div>
                                    <div class="col-6">
                                      <textarea rows = '4' cols = '23' id = 'description' name = 'description' placeholder = "{{item.description}}"></textarea>
                                    </div>
                                  </div>
                                  <div class = 'row'>
                                  </div>
                                  <div class = 'row'>
                                    <div class="col-6">
                                      <label for='course'>{% trans 'Category' %}</label>
                                    </div>

                                    <div class="col-6">
                                      <label for='price'>{% trans 'Price' %}</label>
                                    </div>
                                  </div>
                                  <div class = 'row'>
                                    <div class="col-6">
                                      <input id = 'course' name = 'course' list = 'options' placeholder = "{{item.course}}">
                                      <datalist id = 'options'>
                                        {% for option in selct_options %}
                                          <option value = {{option}} {% if option.name == item.course %} selected{% endif %}>
                                        {% endfor %}
                                      </datalist>
                                    </div>

                                    <div class="col-6">
                                      <input type = 'number' step = '0.01' id = 'price' name = 'price' value = {{item.price}}>
                                    </div>
                                  </div>
                                  <br>
                                  <div class = 'row justify-content-center'>
                                    <!-- <div class="col-8 mt-2"> -->
                                      <label style="margin-right: 20px;" for = 'photo'>{% trans 'Photo' %}</label>
                                    <!-- </div> -->
                                    <input type = 'file' accept="image/*" id = 'photo' name = "photo">
                                  </div>
                                  <br>
                                  <div class="form-group row">
                                    <label class="col-lg-3 col-form-label form-control-label">{% trans "In Stock" %}?</label>
                                    <div class="col-lg-9">
                                      <label class="switch">
                                        {% if item.is_in_stock %}
                                        <input name = "is_in_stock" type="checkbox" checked>
                                        {% endif %}
                                        {% if item.is_in_stock == False %}
                                        <input name = "is_in_stock" type="checkbox">
                                        {% endif %}
                                        <span class="slider round"></span>
                                     </label>
                                    </div>
                                </div>
                                  <br>
                                  <br>
                                  <div class = 'row justify-content-center'>
                                    <div style="text-align: centerl=;" class = 'row justify-content-center'>
                                      <div class="btn-group mt-2">
                                          <button type="submit" class="btn btn-primary">{% trans "Update" %}</button>
                                      </div>
                                      <div class = 'col mt-4'>
                                        <a style = 'color:red;' href = '/restaurant_admin/remove_item/{{menu.id}}/{{item.id}}'>{% trans 'Remove This Item' %}</a>
                                      </div>
                                    </div>
                                  </div>
                                </form>
                              </div>
                            </div>
                        </div>
                    </div>
                </div>
              </div>
            </div>
          </div>
            </div>
            <img src="{% static item.photo_path %}" border=3 height=80 width=80 class="rounded float-right" alt="...">
          </div>
          <hr>
        </div>

        <!-- <hr> -->
        {% endfor %}
      {% endif %}
    </ul>
    <!-- Menu Items Ends -->
    <div class = 'row justify-content-center mt-2 mb-2'>
      <a style = 'color:red;' href = '/restaurant_admin/remove_menu/{{menu.id}}'>{% trans 'Delete This Menu' %}</a>
    </div>

  </div>
</body>

<script>
  function asd(a)
  {
      if(document.getElementById("menu_form").style.display=="block") document.getElementById("menu_form").style.display = 'none';

      else
          document.getElementById("menu_form").style.display="block";
  }
  function closeMenuForm(){
    document.getElementById("menu_form").style.display="none";
  }
  function showItemForm(a){
    if(document.getElementById('item'+a).style.display == 'block') document.getElementById('item'+a).style.display = 'none';
    else document.getElementById('item'+a).style.display = 'block';
  }
  function newItemForm(){
    if(document.getElementById('new_item_form').style.display == 'block') document.getElementById('new_item_form').style.display = 'none';
    else document.getElementById('new_item_form').style.display = 'block';
  }
  function closeItemForm(){
    document.getElementById('new_item_form').style.display = 'none';
  }
  function closeForm(a){
    document.getElementById('item'+a).style.display = 'none';
  }
</script>
<script>
$('#add_modal').on('shown.bs.modal', function () {
  $('#myInput').trigger('focus')
  })
</script>
{% endblock %}
