{% load i18n %}
{% load static %}
<html>

  <head>
    <style>
      #menu_container {
        overflow-y: scroll;
      }
    </style>
  </head>

  <body style="background-image: url('{% static 'imgs/menu_home.jpg' %}'); background-size:cover; background-color: rgba(255,255,255,0.3); background-blend-mode: lighten;">
    <div class="container">
      <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <div class = 'card border-secondary bg-light mt-5 mb-5' id ='big_card_container'>

          <div class ='card-header'>

            <div class = 'row justify-content-center mb-2'>
              <h2><b>{% trans "Your Menus" %}</b></h2>
            </div>

            <div class = 'row justify-content-between'>
              <div class = 'col-2'>
                <a type = 'button' class = 'btn btn-primary' href = '/restaurant_admin/add_menu'>+ {% trans 'Add New Menu' %}</a>
              </div>

              <div class = 'col-1 mr-2'>
                <a type = 'button' class = 'btn btn-danger' href = '/restaurant_admin/logout'>{% trans 'Logout' %}</a>
              </div>
            </div>

          </div>

          <div class = 'card-body'>
            {% if menus|length == 0 %}
            <div class = 'row justify-content-center'>
              <h3>{% trans 'No Menus Yet' %}</h3>
            </div>
            {% else %}
            <div id = 'menu_container' class = 'row justify-content-center'>

                {% for menu in menus %}
                <div class = 'card mr-2 mt-2'>
                  <div class = 'card-body'>

                    <div class = 'row justify-content-center mb-2'>
                        <b style = 'color:black;'>{{ menu.name }}</b>
                    </div>

                    <div class = 'row justify-content-center'>
                        {% if menu.photo_path is not none %}
                          <img src = "{% static menu.photo_path %}" border=3 height=300 width=300>
                        {% else %}
                          <h5>{% trans 'No Photo' %}</h5>
                        {% endif %}
                    </div>

                    <div class = 'row justify-content-center mt-2'>
                      <div class = 'col-4 mr-1'>
                        <a type = 'button' class = 'btn btn-secondary' href = '/restaurant_admin/view_menu/{{menu.id}}'>{% trans 'View' %}</a>
                      </div>

                      <div class = 'col-4'>
                        <a type = 'button' class = 'btn btn-secondary' href = '/restaurant_admin/edit_menu/{{menu.id}}'>{% trans 'Edit' %}</a>
                      </div>
                    </div>

                  </div>
                </div>
                {% endfor %}

            </div>
            {% endif %}
          </div>
        </div>

    </div>
  </body>

</html>
