{% extends 'restaurant/base.html' %}
{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
  <div class="container">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
      <!-- <div class = 'card border-secondary bg-light mt-5 mb-5' id ='big_card_container'> -->

        <!-- <div class ='card-header'> -->
        {% if messages %}
        {% for message in messages %}
        {% if message.level == DEFAULT_MESSAGE_LEVELS.INFO %}
        <div class="row justify-content-center alert alert-primary pt-3 pb-3" role="alert">
          <!-- <div class="card shadow p-3 m-2 bg-white rounded" style="width: 25rem;"> -->
            <div class="col-md-8">
              <h4>{{ message }}</h4>
            </div>
          <!-- </div> -->
        </div>
        {% endif %}
        {% endfor %}
        {% endif %}
        <!-- the alert card if they havent picked to handle payments or not -->
        {% if me.answered_pay_question == False %}
          <div class = 'row justify-content-center mt-4'>
            <div class="card shadow p-3 bg-white rounded mb-4" style="width: 30rem;">
              <div class = 'card-body'>

                <div class="card-title">
                  <h4>{% trans 'Would You Like to Accept Payments?' %}</h4>
                </div>

                <div class = 'row justify-content-center mt-5'>
                  <div class = 'col'>
                    <form action = '/restaurant_admin/answer_question' method = 'post'>
                      {% csrf_token %}

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="no" name="answer" value="no" class="custom-control-input">
                        <label class="custom-control-label" for="no">{% trans 'No' %}</label>
                      </div>

                      <div class="custom-control custom-radio custom-control-inline">
                        <input type="radio" id="yes" name="answer" value="yes" class="custom-control-input">
                        <label class="custom-control-label" for="yes">{% trans 'Yes' %}</label>
                      </div>

                      <button type = 'submit' class="btn btn-primary btn-block mt-4">{% trans 'Submit' %}</button>

                    </form>

                    <hr>

                    <p class="card-text">{% trans "We charge a fixed fee and a percentage of the transaction each time you accept a credit or debit card payment (3.6% + 3 MXN). The price is the same for all cards. There’s no additional fee for international cards or failed charges. We pay out on a rolling daily basis to the account you indicate." %}</p>
                    <a href="https://stripe.com/es-mx/pricing" class="card-link">{% trans "More Information" %}</a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        {% endif %}

        <!-- the alert card if they havent put their logo and about info -->
        {% if me.info_input == False %}
        <div class = 'row justify-content-center mb-4 mt-4'>
          <div class="card shadow p-3 bg-white rounded mb-4" style="width: 30rem;">
            <div class="card-body">
              <div class = 'row'>
                <div class = 'col'>
                  <h4>{% trans 'Tell Us About Your Restaurant' %}</h4>
                </div>
              </div>

              <div class = 'row justify-content-center mt-3'>
                <div class = 'col'>
                  <form id = 'questions_form' action = '/restaurant_admin/answer_about' method = 'post' enctype = 'multipart/form-data'>
                    {% csrf_token %}

                    <div class="form-group">
                      <b><label for="tagline">{% trans 'Your Menu Tagline' %}</label></b>
                      <input type = 'text' class="form-control" id = 'tagline' name = 'tagline' placeholder = "{{me.info}}">
                      <small id="taglineHelp" class="form-text text-muted">{% trans "This will be displayed under your Restaurant name to the customer" %}</small>
                    </div>

                    <div class="form-group">
                      <b><label for="about">{% trans 'About Your Restaurant' %}</label></b>
                      <textarea class="form-control" rows="3" id = 'about' name = 'about' placeholder = "{{me.about}}"></textarea>
                      <small id="aboutHelp" class="form-text text-muted">{% trans "This will be displayed in your About section" %}</small>
                    </div>

                    <div class = "form-group">
                      <b><label for = "hours">{% trans 'Hours of Operation' %}</label></b>
                      <div class = 'row' id = 'hours'>
                        <div class = 'col'>
                          <input type = 'time' id = 'timepicker' name = 'opening' {% if me.opening_time %} value = {{me.opening_time}} {% endif %}>
                        </div>
                        {% trans 'to' %}
                        <div class = 'col'>
                          <input type = 'time' id = 'timepicker2' name = 'closing' {% if me.closing_time %} value = {{me.closing_time}} {% endif %}>
                        </div>
                      </div>
                    </div>

                    <div class = 'row mt-3'>
                      <div class="col">
                        <b><label for = 'dine-in1'>{% trans 'Do You Currently Offer Dine In?' %}</label></b>
                      </div>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type = 'radio' name = 'dine-in' id = 'dine-in1' value = 'no' {% if not me.dine_in %}checked{% endif %}>
                      <label for = 'dine-in1'>{% trans 'No' %}</label>
                    </div>

                    <div class="form-check">
                      <input class="form-check-input" type = 'radio' name = 'dine-in' id = 'dine-in2' value = 'yes' {% if me.dine_in %}checked{% endif %}>
                      <label for = 'dine-in2'>{% trans 'Yes' %}</label>
                    </div>

                    <div class = 'row mt-3'>
                      <div class="col">
                        <b><label for = 'inputGroupFile04'>{% trans 'Restaurant Logo' %}</label></b>
                      </div>
                    </div>

                      <div class="input-group">
                        <div class="custom-file">
                          <input type="file" name = 'logo' accept = 'image/*' class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                          <label class="custom-file-label" for="inputGroupFile04">{%trans 'Choose file' %}</label>
                        </div>
                      </div>

                    <button id = 'question_form_button' name='preferences_submit' class="btn btn-primary btn-block mt-4">{% trans 'Submit' %}</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        {% endif %}

        <!-- Add Menu Icon -->
        <div class="row mb-3">
          <div class="col-6 text-right">
            <!-- View QR code button -->
            <a class = 'btn btn-primary' href = "{{ url }}">{% trans 'View QR Code' %}</a>
            <!-- end qr code button -->
          </div>

          <div class="col-4">
            <button onclick = 'menuForm()' data-toggle="modal" data-target="#create_menu" type="button" class="btn btn-primary">{% trans "New Menu" %}</button>
          </div>
        </div>

        <!-- New Menu Modal Form -->
        <div class="modal fade" id="create_menu" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-lg" role="document">
            <div class = 'modal-content'>
              <div class="modal-header">
                <h5 class="modal-title">{% trans 'Create New Menu' %}<h5>
              </div>
              <div class="modal-body">
                <form method = 'post' action = '/restaurant_admin/add_menu' enctype="multipart/form-data">
                  {% csrf_token %}

                  <!-- Name Input -->
                  <div class="form-group">
                    <label for="name">{% trans 'Name' %}</label>
                    <input type="text" class="form-control" id="name" name = 'name' placeholder="Name">
                  </div>
                  <!-- name ends -->

                  <!-- Photo input -->
                  <label for="photo2">{% trans 'Photo' %}</label>
                  <div class="input-group" id = 'photo2'>
                    <div class="custom-file">
                      <input type="file" name = 'photo' accept = 'image/*' class="custom-file-input" id="inputGroupFile05" aria-describedby="inputGroupFileAddon05">
                      <label class="custom-file-label" for="inputGroupFile04">{%trans 'Choose file' %}</label>
                    </div>
                  </div>
                  <!-- Photo input ends -->

                  <!-- Buttons -->
                  <div class="row justify-content-center mt-5 mb-3">
                      <div class="btn-group">
                        <button style="width: 765px;" type="submit" class="btn btn-primary">{% trans "Create" %}</button>
                      </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <!-- New Menu Modal Form ends -->

          {% if menus|length == 0 %}
          <div class = 'row justify-content-center mt-5'>
            <h3>{% trans 'No Menus Yet' %}</h3>
          </div>
          {% else %}
          <div id = 'menu_container' class = 'row justify-content-center mt-2'>

              {% for menu in menus %}
              <div class = 'card mr-2' style = 'width: 25rem;'>
                <div class="card-header">
                  <b>{{ menu.name }}</b>
                </div>
                <div class = 'card-body'>
                  <div class = 'row justify-content-center'>
                      {% if menu.photo_path is not none %}
                        <img src = "{% static menu.photo_path %}" border=3 height=200 width=200>
                      {% else %}
                        <div class = 'row justify-content-center mt-5'>
                          <h5>{% trans 'No Photo' %}</h5>
                        </div>
                      {% endif %}
                  </div>
                </div>
                <div class="card-footer bg-transparent">
                  <div class = 'row justify-content-center'>
                    <div class = 'col-6 text-right'>
                      <a type = 'button' style="width:80px;" class = 'btn btn-secondary' href = '/restaurant_admin/view_menu/{{menu.id}}'>{% trans 'View' %}</a>
                    </div>

                    <div class = 'col-6'>
                      <a type = 'button' style="width:80px;" class = 'btn btn-secondary' href = '/restaurant_admin/edit_menu/{{menu.id}}'>{% trans 'Edit' %}</a>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
          </div>
          {% endif %}

  </div>

  <script>
      $('#inputGroupFile04').on('change',function(){
        var fileName = $(this)[0].files[0].name;
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
      })
      $('#inputGroupFile05').on('change',function(){
        var fileName = $(this)[0].files[0].name;
        //replace the "Choose a file" label
        $(this).next('.custom-file-label').html(fileName);
      })

      //Activating Popovers
      $(function () {
        $('[data-toggle="popover"]').popover()
      })
  </script>

  <script>
    $('#create_menu').on('shown.bs.modal', function () {
      $('#myInput').trigger('focus')
      })
  </script>

  <script>
    document.getElementById('question_form_button').addEventListener("click", function(event){

      var openingTime = document.getElementById('timepicker').value;
      var closingTime = document.getElementById('timepicker2').value;

      if(!openingTime){
        alert('please fill out an opening time!!');
        event.preventDefault();
      }
      else if (!closingTime){
        alert('please fill out a closing time!!');
        event.preventDefault();
      }
      else if(openingTime && closingTime)document.getElementById('questions_form').submit();

    }, false);
  </script>
{% endblock %}
