{% load crispy_forms_tags %}
{% load i18n %}
{% load static %}

<html>
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title>shift.</title>
  </head>
  <style>
    body{
      background: rgb(52,148,230);
      background: linear-gradient(90deg, rgba(236,110,173,1) 0%, rgba(52,148,230,1) 100%);
    }
  </style>

  <body>

    <div class="container-fluid">
      <div class = 'row justify-content-center'>
        <div class="card bg-light shadow mt-5 mb-5 rounded" style="width: 35rem;">
          <div class = 'card-body'>

            <div class = 'card-title pb-2 pt-4'>
                <h5>{% trans "Create your shift account" %}</h5>
            </div>

            <form method="post" action= "/restaurant_admin/register">
              {% csrf_token %}

              {% if form.errors %}
                  {% for field in form %}
                      {% for error in field.errors %}
                          <div class="alert alert-danger">
                              <strong>{{ error|escape }}</strong>
                          </div>
                      {% endfor %}
                  {% endfor %}
                  {% for error in form.non_field_errors %}
                      <div class="alert alert-danger">
                          <strong>{{ error|escape }}</strong>
                      </div>
                  {% endfor %}
              {% endif %}


              <div class="form-group">
                <label for="username">{% trans 'Username' %}</label>
                <input type = 'text' class="form-control" id = 'username' name = 'username' required>
              </div>

              <div class="form-group">
                <label for="email">{% trans 'Email address' %}</label>
                <input type = 'email' class="form-control" id = 'email' name = 'email' required>
              </div>

              <div class="form-group">
                <label for="password1">{% trans 'Password' %}</label>
                <input type="password" class="form-control" id="password1" name="password1" required>
              </div>

              <div class="form-group">
                <label for="password2">{% trans 'Confirm password' %}</label>
                <input type="password" class="form-control" id="password2" name="password2" required>
              </div>

              <div class="form-group">
                <label for="name">{% trans 'Business Name' %}</label>
                <input type = 'text' class="form-control" id = 'name' name = 'name' required>
              </div>

              <!-- Buttons -->
              <button type="submit" class="btn btn-primary btn-block mt-4">{% trans "Register" %}</button>

            </form>
          </div>

          <div class = 'row justify-content-center mb-4'>
            <!-- <h6>{% trans "Already have an account?" %} <a href="/restaurant_admin">{% trans "Sign in" %}</a></h6> -->
            <small class="text-muted">{% trans "Already have an account?" %} <a href="/restaurant_admin">{% trans "Sign in" %}</a></small>

          </div>
        </div>
      </div>
    </div>
  </body>

</html>
