{% load i18n %}
{% load static %}
{% load crispy_forms_tags %}
<script>
  $(document).ready(function(){
      var csrftoken = Cookies.get('csrftoken');
      console.log("yo this is the CSRF");
      console.log(csrftoken);
    }

  $.ajaxSetup({
      beforeSend: function (xhr, settings) {
              xhr.setRequestHeader("X-CSRFToken", csrftoken);
      }
  });
</script>

{% for category, items in category_items.items %}
<nav class="navbar navbar-default navbar-fixed-tip border-bottom">
    <div class="navbar-header">
      <h4>{{category}}</h4>
    </div>
</nav>
<br>
<div class="row">
  <div class="col">
  <table class="table table-hover table-bordered" style="border-collapse:collapse;">
    <thead>
        <tr>
              <th>Item Name</th>
              <th>Price</th>
              <th>Category</th>
              <th>In Stock?</th>
        </tr>
    </thead>
    <tbody>
{% for item in items %}

    <tr colspan="5" data-toggle="collapse" data-target="#demo{{item.id}}" onclick="event.preventDefault();" >
    <!-- <tr colspan="5"> -->
        <td data-toggle="collapse">{{item.name}}</td>
        <td data-toggle="collapse">{{item.price}}</td>
        <td data-toggle="collapse">{{item.category}}</td>
        <td style="text-align: center;" data-toggle="collapse">
          {% if item.is_in_stock %}
            <i class="fas fa-check" style="color: green;"></i>
            {% else %}
            <i class="fas fa-times" style="color: red;"></i>
            {% endif %}
        </td>
    </tr>
    <tr class="p">
        <td colspan="5" class="hiddenRow">
          <div class="accordian-body collapse p-3" id="demo{{item.id}}">
            <div class="card shadow">
              <div class="card-body">
                  <div class="row text-center ">
                      <div class="col-md-3 mr-3">
                        <div class="form-group row">
                          <label class="col-6 col-form-label form-control-label">{% trans "In Stock" %}?</label>
                          <div class="col-lg-6">
                            <label class="switch">
                              {% if item.is_in_stock %}
                              <input name = "is_in_stock" type="checkbox" form="edit_item_form{{item.id}}" checked>
                              {% endif %}
                              {% if item.is_in_stock == False %}
                              <input name = "is_in_stock" type="checkbox" form="edit_item_form{{item.id}}">
                              {% endif %}
                              <span class="slider round"></span>
                           </label>
                          </div>
                      </div>
                      </div>
                      <div class="col-md-5">
                          <h4>{{item.name}}</h4>
                          <p>{{item.description}}</p>
                      </div>
                      <div class="col-md-3">
                          <div class="btn-group ">
                              <button type="submit" name="{{item.id}}" id="edit_item_submit{{item.id}}"
                             class="btn btn-primary edit_item_submit" form="edit_item_form{{item.id}}">{% trans "Update" %}</button>
                          </div>
                          <br>
                          <br>
                          <div class = 'col mt-2'>
                            <a style = 'color:red; font-size: 1.2em;' href = '/restaurant_admin/remove_item/1/my_items/{{item.id}}'>{% trans 'Remove This Item' %}</a>
                          </div>
                      </div>
                  </div>
                  <div class="row text-center">
                    <div class="col text-center">
                      {% if item.photo_path %}
                      <div style="max-width: 100%; max-height: 100%;">
                        <img class="rounded mx-auto d-block" src="{% static item.photo_path %}" height=250 width=250>
                      </div>
                      {% else %}
                      <div style="max-width: 100%; max-height: 100%;">
                        <img class="rounded mx-auto d-block" height=250 width=250> No photo </img>
                      </div>

                      {% endif %}
                    </div>
                  </div>
                  <br>
                  <div>
                    <div class="row justify-content-center">
                      <form action = '/restaurant_admin/edit_item/{{item.id}}/my_items/1' id="edit_item_form{{item.id}}" method="post" enctype = 'multipart/form-data'>
                        {% csrf_token %}
                        <div class = 'row'>
                          <div class="col-6">
                            <label for='name'>{% trans 'Name' %}</label>
                          </div>
                          <div class="col-6">
                            <label for='description'>{% trans 'Photo' %}</label>
                          </div>
                        </div>
                        <div class = 'row'>
                          <div class="col-6">
                            <input type = 'text' id = 'name' name = 'name' placeholder = "{{item.name}}">

                          </div>
                          <div class="col-6">
                            <div class="input-group" id = 'photo2'>
                              <div class="custom-file">
                                <input type="file" name = 'photo' accept = 'image/*' class="custom-file-input" id="inputGroupFile05" aria-describedby="inputGroupFileAddon05">
                                <label class="custom-file-label" for="inputGroupFile05">{%trans 'Choose file' %}</label>
                              </div>
                            </div>
                          </div>
                        </div>
                        <div class = 'row'>
                          <div class="col-6">
                            <div id = "name_errors_edit{{item.id}}" class="errors">
                            </div>
                          </div>
                          <div class="col-6">
                            <div id = "photo_errors_edit{{item.id}}" class="errors">
                            </div>
                          </div>
                        </div>
                        <div class = 'row'>
                          <div class="col-6">
                            <label for='category'>{% trans 'Category' %}</label>
                          </div>

                          <div class="col-6">
                            <label for='price'>{% trans 'Price' %}</label>
                          </div>
                        </div>
                        <div class = 'row'>
                          <div class="col-6">

                            <input id = 'category' name = 'category' list = 'options' placeholder = "{{item.category}}">
                            <datalist id = 'options'>
                              {% for option in selct_options %}
                                <option value = "{{option.name}}">{{option.name}}</option>
                              {% endfor %}
                            </datalist>
                          </div>

                          <div class="col-6">
                            <input type = 'number' step = '0.01' id = 'price' name = 'price' placeholder = '{{item.price}}'>

                          </div>
                        </div>
                        <br>
                        <div class = 'row'>
                          <div class="col-6">
                            <div id = "category_errors_edit{{item.id}}" class="errors">
                            </div>
                          </div>
                          <div class="col-6">
                            <div id = "price_errors_edit{{item.id}}" class="errors">
                            </div>
                          </div>
                        </div>
                        <br>
                        <div class="row justify-content-center">
                          <label style="margin-right: 20px;" for = 'description'>{% trans 'Description' %}</label>
                        </div>
                        <div class = 'row justify-content-center'>
                          <textarea rows = '6' cols = '60' id = 'description' name = 'description' placeholder = "{{item.description}}"></textarea>

                        </div>
                        </form>
                    </div>
                  </div>
              </div>
            </div>
        </div>

      </td>
    </tr>

{% endfor %}
</tbody>
</table>
</div>
  </div>
{% endfor %}
