{% extends 'restaurant/sales.html' %}
{% block salestuff %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
<!-- Source : https://bootsnipp.com/snippets/MRB4A -->
<!------ Include the above in your HEAD tag ---------->
<br>
<br>
				<div class="container-fluid">
					<div class="col col-md-12">
						<div class="row">
							<div class="col col-md-6">
								<h4>Sales Stats:</h4>
										Total Sales (excluding tips)<span class="pull-right strong">${{total_sales}}</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="100"aria-valuemin="0" aria-valuemax="100" style="width:100%">100%</div>
										</div>

										Total Cash Sales<span class="pull-right strong">${{total_cash}}</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{cash_percentage}}"aria-valuemin="0" aria-valuemax="100" style="width:{{cash_percentage}}%">{{cash_percentage}}%</div>
										</div>

										Total Card Sales<span class="pull-right strong">{{total_card}}</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{card_percentage}}"aria-valuemin="0" aria-valuemax="100" style="width:{{card_percentage}}%">{{card_percentage}}%</div>
										</div>
							</div>
							<div class="col col-md-6">
								<h4>Tips & Inventory:</h4>
										Total Tips (% of total sales)<span class="pull-right strong">${{total_tip}}</span>
										 <div class="progress">
											<div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{tip_percentage}}"aria-valuemin="0" aria-valuemax="100" style="width:{{tip_percentage}}%">{{tip_percentage}}%</div>
										</div>
										Total Items:<span class="pull-right strong">{{total_items}}</span>
							</div>
						</div>
					</div>
				</div>{% endblock %}
