{% load static %}
{% load i18n %}
<!-- layout stuff -->
<style>
  body{background:#f9f9f9;}
  #wrapper{padding:15px 15px;}
  .navbar-expand-lg .navbar-nav.side-nav{flex-direction: column;}
  .card{margin-bottom: 15px; border-radius:0; box-shadow: 0 3px 5px rgba(0,0,0,.1); }
  .header-top{box-shadow: 0 3px 5px rgba(0,0,0,.1)}
  .leftmenutrigger, .navbar-nav li a .shortmenu{display: none}
  .card-title{ font-size: 28px}
  @media(min-width:992px) {
  .leftmenutrigger{display: block;display: block;margin: 7px 20px 4px 0;cursor: pointer;}
  #wrapper{padding: 90px 15px 15px 15px; }
  #wrapper.open{padding: 90px 15px 15px 15px; }
  .navbar-nav li a .shortmenu {float: right;display: block;opacity: 1}
  .navbar-nav.side-nav.open.navbar-nav li a .shortmenu {opacity: 0}
  .navbar-nav.side-nav{background: #585f66;box-shadow: 2px 1px 2px rgba(0,0,0,.1);position:fixed;top:56px;flex-direction: column!important;left:-140px;width:200px;overflow-y:auto;bottom:0;overflow-x:hidden;padding-bottom:40px}
  }
  .animate{-webkit-transition:all .2s ease-in-out;-moz-transition:all .2s ease-in-out;-o-transition:all .2s ease-in-out;-ms-transition:all .2s ease-in-out;transition:all .2s ease-in-out}
</style>
<!-- button stuff -->
<style>
    .btn-squared-default
    {
        width: 250px !important;
        height: 250px !important;
        font-size: 10px;
    }

        .btn-squared-default:hover
        {
            border: 3px solid white;
            font-weight: 800;
        }

    .btn-squared-default-plain
    {
        width: 250px !important;
        height: 250px !important;
        font-size: 100px;
    }

        .btn-squared-default-plain:hover
        {
            border: 0px solid white;
        }
</style>
<!-- CoreUI CSS -->
<link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
<link rel="stylesheet" href="https://unpkg.com/@coreui/icons@1.0.0/css/all.min.css">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<body>
  <div id="wrapper" class="animate">
    <nav class="navbar header-top fixed-top navbar-expand-lg navbar-dark bg-dark">
      <!-- <span class="navbar-toggler-icon leftmenutrigger"></span> -->
      <a class="navbar-brand" href="">{% if path %}<img src = "{% static path %}"height=30 width=30>{% endif %}</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText"
        aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarText">
        <ul class="navbar-nav ml-md-auto d-md-flex">
          <li class="nav-item">

            <a class="nav-link" href="#">{% trans "Hi" %}, {{ cashier.name }}</a>

          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" href="#"><i class="fas fa-user"></i> Profile</a>
          </li> -->
          <li class="nav-item">
            <a href = "/cashier/logout" class="nav-link"><i class="fas fa-key"></i> Logout</a>
          </li>
        </ul>
      </div>
    </nav>
    <div class="container-fluid">
      <!-- <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Try Other</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
              <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
              <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
              <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title">Try Other</h5>
              <h6 class="card-subtitle mb-2 text-muted">Bootstrap 4.0.0 Snippet by pradeep330</h6>
              <p class="card-text">You can also try different version of Bootstrap V4 side menu. Click below link to view all Bootstrap Menu versions.</p>
              <a href="https://bootsnipp.com/pradeep330" class="card-link">link</a>
              <a href="http://websitedesigntamilnadu.com" class="card-link">Another link</a>
            </div>
          </div>
        </div>
      </div> -->
      <div class="row">
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style = "text-align:center;">{% trans "Cash Payment" %}</h5>
              <div style = "text-align:center;">
                <a href="/cashier/cash_payment/{{cashier.id}}" class="btn btn-squared-default btn-success" >
                    <br>
                    <br>
                     <i class="far fa-money-bill-alt fa-10x"></i>
                 </a>
               </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card">
            <div class="card-body">
              <h5 class="card-title" style = "text-align:center;">{% trans "Order History" %}</h5>
              <div style = "text-align:center;">
                <a href="/cashier/order_history/{{cashier.id}}" class="btn btn-squared-default btn-success" >
                    <br>
                    <br>
                     <i class="fas fa-history fa-10x"></i>
                 </a>
               </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script defer src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"></script>
