{% load i18n %}
{% load static %}
<!--template from https://bootsnipp.com/snippets/M5noj-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">

<div class = "row justify-content-center">
  <!-- left column is for orders that haven't been put into system yet -->

  <div class="card bg-light shadow p-4 rounded" style="width: 30rem;">
    <div class="card-body">
      <div class = "col">
        <div class = "row justify-content-center mt-1 mb-3">
          <h3>{% trans "Orders to Enter" %}</h3>
        </div>
        {% if to_enter|length == 0 %}
        <div class = 'row justify-content-center mt-5'>
          <h4>{% trans 'No Orders To Enter' %}</h4>
        </div>
        {% else %}

          {% for tracker, list in to_enter.items %}
            {% if tracker.cart.is_paid %}
            <div class="row justify-content-center">
              <div class="order-card card shadow p-3 bg-white rounded mr-2 ml-2 mb-2 mt-2" style = "width:20rem;">
                <div class="card-body">

                  <div class = 'row mb-1'>
                      <b style = 'color:black;'><h5>{% trans "Order #" %}{{tracker.cart.id}}</h5></b>
                  </div>
                  <div class = "tracker_id_number" style="display: none;">{{tracker.id}}</div>
                  {% if tracker.cart.dine_in %}
                    <div class="row">
                      <h6>{% trans "Dine In" %}</h6>
                    </div>
                  {% else %}
                    <div class="row">
                      <h6>{% trans "To Go" %}</h6>
                    </div>
                  {% endif %}

                  <!-- when order was payed -->
                    <div class="row mb-3">
                      <h6>{{ tracker.cart.paid_at }}</h6>
                    </div>
                  <!-- end time section -->

                  {% for item in list %}
                    <div class = 'row'>
                      <div class="col ml-1">
                        <h7>- {{item.quantity}} {{item.item.name}}</h7>
                      </div>
                    </div>
                    {% if item.custom_instructions %}
                    <div class = 'row'>
                      <div class="col ml-1">
                      <h7 style = 'color:red;'>{{item.custom_instructions}}</h7>
                      </div>
                    </div>
                    {% endif %}

                    {% if item.addon_items %}
                      {% for i in item.addon_items.all %}
                      <div class = 'row'>
                        <div class="col ml-1">
                        <h7 style = 'color:red;'> -- {{i.name}}</h7>
                        </div>
                      </div>
                      {% endfor %}
                    {% endif %}
                    <div class = 'row mt-2 mb-2'>
                      <!-- just for spacing -->
                    </div>
                  {% endfor %}

                  <div class = 'row justify-content-center mt-4'>
                    <a style = 'cursor:pointer;' onclick = "showObj('tracker{{tracker.id}}')">
                      <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                        <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                      </svg>
                    </a>
                  </div>

                  <div class = 'row justify-content-center mt-3'>
                    <div id = 'tracker{{tracker.id}}' class = 'marker-button' style = 'display:none;'>
                      <form action = '/cashier/mark_entered/{{tracker.cart.restaurant.id}}/{{log_no}}/{{tracker.cart.id}}' method = 'post'>
                        {% csrf_token %}
                        <button type = 'submit' class = 'btn btn-success'>{% trans 'Entered' %}</button>
                      </form>
                    </div>
                  </div>

                </div>
              </div>
            </div>

            {% endif %}
          {% endfor %}

        {% endif %}
      </div>
    </div>
  </div>

  <!-- right column is for orders that need to be marked as ready -->
  <div class = "col">
    <div class = "row justify-content-center mt-5 mb-3">
      <h3>{% trans "Orders to Complete" %}</h3>
    </div>
    {% if to_complete|length == 0 %}
    <div class = 'row justify-content-center mt-5'>
      <h4>{% trans 'No Active Orders' %}</h4>
    </div>
    {% else %}

      {% for tracker, list in to_complete.items %}
        {% if tracker.cart.is_paid %}
        <div class="row justify-content-center">
          <div class="order-card card shadow p-3 bg-white rounded mr-2 ml-2 mb-2 mt-3" style = 'width:20rem;'>
            <div class="card-body">

              <div class = 'row mb-1'>
                  <b style = 'color:black;'><h5>{% trans "Order #" %}{{tracker.cart.id}}</h5></b>
              </div>
              <div class = "tracker_id_number" style="display: none;">{{tracker.id}}</div>
              {% if tracker.cart.dine_in %}
                <div class="row">
                  <h6>{% trans "Dine In" %}</h6>
                </div>
              {% else %}
                <div class="row">
                  <h6>{% trans "To Go" %}</h6>
                </div>
              {% endif %}

              <!-- when order was payed -->
                <div class="row mb-3">
                  <h6>{{ tracker.cart.paid_at }}</h6>
                </div>
              <!-- end time section -->

              {% for item in list %}
                <div class = 'row'>
                  <div class="col ml-1">
                    <h7>- {{item.quantity}} {{item.item.name}}</h7>
                  </div>
                </div>
                {% if item.custom_instructions %}
                <div class = 'row'>
                  <div class="col ml-1">
                  <h7 style = 'color:red;'>{{item.custom_instructions}}</h7>
                  </div>
                </div>
                {% endif %}

                {% if item.addon_items %}
                  {% for i in item.addon_items.all %}
                  <div class = 'row'>
                    <div class="col ml-1">
                    <h7 style = 'color:red;'> -- {{i.name}}</h7>
                    </div>
                  </div>
                  {% endfor %}
                {% endif %}
                <div class = 'row mt-2 mb-2'>
                  <!-- just for spacing -->
                </div>
              {% endfor %}

              <div class = 'row justify-content-center mt-4'>
                <a style = 'cursor:pointer;' onclick = "showObj('tracker{{tracker.id}}')">
                  <svg width="2.5em" height="2.5em" viewBox="0 0 16 16" class="bi bi-check2" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
                    <path fill-rule="evenodd" d="M13.854 3.646a.5.5 0 0 1 0 .708l-7 7a.5.5 0 0 1-.708 0l-3.5-3.5a.5.5 0 1 1 .708-.708L6.5 10.293l6.646-6.647a.5.5 0 0 1 .708 0z"/>
                  </svg>
                </a>
              </div>

            <div class = 'row justify-content-center mt-5'>
              <div id = 'tracker{{tracker.id}}' class = 'marker-button' style = 'display:none;'>
                <form action = '/cashier/mark_ready/{{tracker.cart.restaurant.id}}/{{log_no}}/{{tracker.id}}' method = 'post'>
                  {% csrf_token %}
                  <button type = 'submit' class = 'btn btn-success'>{% trans 'Complete' %}</button>
                </form>
              </div>

            </div>
          </div>
        </div>
        {% endif %}
      {% endfor %}

    {% endif %}
  </div>
</div>

<script>
  function showObj(id){
    if (document.getElementById(id).style.display == 'none') document.getElementById(id).style.display = 'block';
    else document.getElementById(id).style.display = 'none';
  }

  function seeObj(){
    var buttons = document.getElementsByClassName('marker-button');
    for(i =0; i<buttons.length; i++){
      if(buttons[i].style.display != 'none') return false;
    }
    return true;
  }

  let idArray = [];
  var trackers = document.getElementsByClassName("tracker_id_number");
  for(i=0; i<trackers.length; i++){
    idArray.push(parseInt(trackers[i].innerHTML));
  }

  CheckIfNewOrder();

  function CheckIfNewOrder(){
    //ajax call here
    $.ajax({
      type: "GET",
      url: "{% url 'check_new_orders' %}",
      data: {
        'rest_id': {{rest_id}},
        'id_array': JSON.stringify(idArray),
      },
      dataType: 'json',
      success: function (data) {
        console.log(data.new_orders);
        console.log(seeObj());
        if (data.new_orders){
          // audio.play();

          setTimeout(function () {
            if(seeObj() == true) location.reload();
          }, 2000);
        }
        else if(data.orders_completed){
          setTimeout(function () {
            if(seeObj() == true) location.reload();
          }, 2000);
        }
        else{
          console.log('no change')
        }
      }
    });
    //recursively call
    setTimeout(CheckIfNewOrder, 3000);
  }
</script>
