<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>

<div class = "container">
  <div class = 'row justify-content-center mt-2'>
    <h5>Shift Admin Page</h5>
  </div>

  <div class = 'row justify-content-center mt-2'>
    <table class="table">
    <thead>
      <tr>
        <th scope="col">Restaurant</th>
        <th scope="col">Total Sales</th>
        <th scope="col">Sales Today</th>
        <th scope="col">Total Customers</th>
        <th scope="col">Customers Today</th>
      </tr>
    </thead>
    <tbody>
      {% for rest, list in dict.items %}
        <tr>
          <th scope="row">{{rest.name}}</th>
          {% for item in list %}
            <td>{{item}}</td>
          {% endfor %}
        </tr>
      {% endfor %}
    </tbody>
  </table>
  </div>

  <div class = "row justify-content-center mt-2">
    <div class = "col">
      <div class = "card">

        <div class = "card-header">
          <div class = "row justify-content-center">
            <h7><b>Total Sales</b></h7>
          </div>
        </div>

        <div class = "card-body">
          <div class = "row justify-content-center">
            <h7>{{sales}}</h7>
          </div>
        </div>

      </div>
    </div>

    <div class = "col">
      <div class = "card">

        <div class = "card-header">
          <div class = "row justify-content-center">
            <h7><b>Total Users</b></h7>
          </div>
        </div>

        <div class = "card-body">
          <div class = "row justify-content-center">
            <h7>{{users}}</h7>
          </div>
        </div>

      </div>
    </div>
  </div>

  <div class = 'row justify-content-center mt-2 mb-2'>
    <a class = 'btn btn-danger' href = '/shift_admin/logout'>Logout</a>
  </div>
</div>

<script>
  setTimeout(function(){
   window.location.reload(1);
  }, 5000);
</script>
