{% load i18n %}
{% load static %}
<!doctype html>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<div class="jumbotron text-center" style = "background-color : #393939; color: #E0E0E0; height: 100vh;">
  <img src="{% static 'imgs/CargoFulPigeon.png' %}" width="200" height="40" class="d-inline-block align-top">
  <h1 class="display-3">{% trans "You're good to go!" %}</h1>
  <p class="lead"><strong>{% trans "Your password has been successfully reset and you can now login with your new password." %}</strong></p>
  <br>
  <p>
    {% trans "Having trouble?" %} <a href="\comms\contact">{% trans "Contact us" %} </a>
  </p>
  <p class="lead">
    <a class="btn btn-primary btn-sm" href="\restaurant_admin" role="button">{% trans "Continue to Login" %}</a>
  </p>
</div>
