{% load static %}
{% load i18n %}
{% load crispy_forms_tags %}

<!doctype html>
<html lang="en">
 <head>
 <!-- Required meta tags -->
 <meta charset="utf-8">
 <meta name="viewport" content="width=device-width, initial-scale=1">

 <!-- CoreUI CSS -->
 <link rel="stylesheet" href="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/css/coreui.min.css" crossorigin="anonymous">
 <title>Cargoful</title>

 <!-- Loading static files -->
<link rel="stylesheet" href="{% static 'css/style.css' %}">
<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

 <body class="c-app">
   <div class="container">
     <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

     <!-- <div class="row justify-content-center mt-5">
       <div class="col-md-8">
         <h1 style="color:Black;">Login</h1>
       </div>
     </div> -->
     <div class="row pb-5">
       <!-- adding some spacing -->
     </div>
   <!-- class="shadow p-3 mb-5 bg-white rounded" -->
     <div class="row justify-content-center mt-5">
       <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 25rem;">
         <div class="card-body">
         <h5 class="card-title"> </h5>
         <p class="card-text">{% trans "Please enter the email associated with your account below. We will send you an email with instructions on how you can reset your password." %}</p>
         <hr>
           <form action="{% url 'reset_password' %}" method="post">
             {% csrf_token %}

             <!-- Form -->
             <div class="col-md-12 mb-5">
               {{ form.email | as_crispy_field}}
             </div>

             <!-- Buttons -->
             <div class="row justify-content-center">
               <div class="btn-group" role="group">
                   <button type="submit" class="btn btn-secondary">{% trans "Send password reset email" %}</button>
               </div>
             </div>
           </form>
         </div>
       </div>
     </div>

     <div class="row justify-content-center pt-1">
       <h6>{% trans "Don't have an account?" %} <a href="/register">{% trans "Sign up" %}</a></h6>
     </div>
     <div class="row justify-content-center pt-1">
       <h6>{% trans "Want to Login?" %} <a href="/accounts/login">{% trans "Login" %}</a></h6>
     </div>

     <div class="row justify-content-center mt-4">
       {% for message in messages %}
         <p id="messages">{{message}}</p>
       {% endfor %}
     </div>

     <div class="row justify-content-center mt-4">
       <!-- {% for error in form.errors %}
         <p id="errors">{{error}}</p>
       {% endfor %} -->

       {{ form.errors }}
     </div>

   </div>

   <style media="screen">
   .errorlist{
       color: #E4007D;
     }
   </style>

 <!-- Popper.js first, then CoreUI JS -->
 <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/umd/popper.min.js" integrity="sha384-L2pyEeut/H3mtgCBaUNw7KWzp5n9&#43;4pDQiExs933/5QfaTh8YStYFFkOzSoXjlTb" crossorigin="anonymous"></script>
 <script src="https://unpkg.com/@coreui/coreui@3.0.0-rc.0/dist/js/coreui.min.js"></script>
 </body>
</html>
